.incorrect-ans-main {
    background-color: #ECF1F9;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    top: 0;
    left: 0;
    .incorrect-ans {
        .incorrect-ans-head {
            padding: 20px 50px;
            position: fixed;
            width: 100%;
            z-index: 9999;
            top: 0;
            left: 0;
            height: 100px;
            display: flex;
            align-items: center;
            button {
                padding: 0;
                height: 20px;
                width: 20px;
                border: 0;
                position: fixed;
                right: 50px;
                background-color: transparent;
                img {
                    height: 20px;
                    width: 20px;
                }
            }
        }
        h1.title {
            color: #20282A;
            font-family: "proxima_nova_rgbold";
            font-size: 32px;
            display: inline-block;
            margin-bottom: 0;
        }
        .incorrect-ans-common-main {
            padding: 0px 50px;
            margin-top: 110px;
            .incorrect-ans-common {
                background-color: #fff;
                border-radius: 10px;
                padding: 15px;
                margin-top: 15px;
                span.add-plus {
                    width: 24px;
                    height: 24px;
                    float: right;
                    cursor: pointer;
                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
                h4 {
                    display: inline-block;
                    color: #20282A;
                    font-size: 18px;
                    font-family: "proxima_nova_rgregular";
                    margin-bottom: 15px;
                    span {
                        font-family: "proxima_nova_rgbold";
                        margin-right: 7px;
                    }
                }
                p.answer-p {
                    img {
                        height: 32px;
                        width: 32px;
                        margin-right: 10px;
                    }
                    margin-bottom: 0;
                    span {
                        color: #FD2A5B;
                        font-family: "Proxima Nova";
                        font-size: 17px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 800px) {
        .incorrect-ans {
            .incorrect-ans-head {
                padding: 20px;
                h1.title {
                    font-size: 22px;
                    margin-right: 32px;
                }
                button {
                    top: 35px;
                    right: 20px;
                }
            }
            .incorrect-ans-common-main {
                padding: 0px 20px;
                .incorrect-ans-common {
                    h4 {
                        width: 90%;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 575px) {
        .incorrect-ans {
            .incorrect-ans-head {
                h1.title {
                    font-size: 20px;
                }
                button {
                    height: 15px;
                    width: 15px;
                    img {
                        height: 15px;
                        width: 15px;
                    }
                }
            }
            .incorrect-ans-common-main { 
                .incorrect-ans-common {
                    h4 {
                        font-size: 16px;
                    }
                    p {
                        font-size: 14px !important;
                        span {
                            font-size: 14px !important;
                        }
                    }
                  
                }
            }
        }
    }
}