.sub-list-main {
  padding: 15px 40px;
  margin: 0 auto !important;
  display: block;
  div {
    display: inline-block;
    width: 14.4%;
    margin-right: 30px;
    /* border: 1px solid; */
    padding: 10px 15px;
    background: #f9f9f9;
    border-radius: 10px;
    cursor: pointer;
  }
  div.active {
    background: #e3fff6;
    position: relative;
    padding: 25px 15px;
    border-radius: 0;
    border-bottom: 2px solid #43aa8b;
    margin-top: -15px;
    a {
      display: block;
    }
  }

  div:last-child {
    margin-right: 0;
    background: transparent;
    text-align: right;
    color: #43aa8b;
    padding-right: 0;
    font-size: 20px;
    font-family: "proxima_nova_rgbold";
    line-height: 24px;
    span {
      cursor: pointer;
    }
    svg {
      margin-right: 0;
      position: relative;
      top: -1px;
    }
  }
  img {
    height: 25px;
    width: 25px !important;
    margin-right: 10px;
    display: inline-block;
    margin-top: -8px;
  }
  h5 {
    margin-bottom: 0;
    color: #454c4e;
    font-size: 16px;
    line-height: 22px;
    font-family: "Proxima Nova";
    display: inline-block;
    vertical-align: middle;
    margin-top: -7px;
  }
}
.sub-list-main.mainactive {
  div {
    text-align: center;
  }
  div:last-child {
    text-align: right;
  }
}

.banner-main {
  padding: 50px;
  padding-top: 160px;
  .banner-left {
    color: #20282a;
    position: relative;
    h4 {
      font-family: "proxima_nova_rgbold";
      font-size: 60px;
      line-height: 64px;
      margin: 0;
      position: relative;
      z-index: 9;
      span {
        position: relative;
        z-index: 9;
      }
      span:after {
        content: "";
        position: absolute;
        width: 300px;
        height: 260px;
        border-radius: 90px 0px 90px 90px;
        background-color: #fff6e9;
        top: -57px;
        z-index: -1;
        right: -15%;
      }
    }
    
    p {
      font-family: "proxima_nova_rgregular";
      font-size: 20px;
      line-height: 28px;
      margin: 45px 0px 55px;
      position: relative;
      z-index: 9;
    }
    button {
      width: 303px;
      background-color: #43aa8b;
      border-radius: 33.75px;
      color: #fff;
      border: 0;
      height: 66px;
      font-weight: bold;
      font-size: 20px;
      font-family: "proxima_nova_rgbold";
      text-align: left;
      padding: 0px 25px;
      box-shadow: none;
      transition: 0.3s;
      opacity: 0.8;
      span {
        float: right;
        height: 24px;
        width: 24px;
        background-color: #fca834;
        border-radius: 50%;
        padding: 0px 7px;
        margin-top: 4px;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .banner-left-bottom-icon {
      width: 65px;
      height: 56px;
      border-radius: 17px 0px 17px 17px;
      background-color: #e3fff6;
      display: inline-block;
      margin-left: 60px;
      position: relative;
      top: 25px;
    }
  }
  .banner-right {
    img {
      margin-top: -115px;
      width: 100%;
    }
  }
}

.learningprogram-main {
  background-color: #e3fff6;
  border-radius: 90px 0px 90px 0px;
  padding: 120px 60px 50px 40px;
  .learning-progress-left {
    h4 {
      margin: 0;
      font-family: "proxima_nova_rgbold";
      color: #20282a;
      font-size: 40px;
      line-height: 48px;
      position: relative;
      z-index: 9;
      span.our {
        position: relative;
        z-index: 9;
      }
      span.our:after {
        content: "";
        position: absolute;
        width: 91px;
        height: 78px;
        border-radius: 0px 31px 31px 31px;
        background-color: #fff6e9;
        top: -18px;
        z-index: -1;
        right: -15%;
      }
      span.learn {
        position: relative;
        z-index: 9;
      }
      span.learn:after {
        content: "";
        position: absolute;
        width: 35px;
        height: 30px;
        border-radius: 10px 0px 10px 10px;
        background-color: #e3e5ff;
        top: -45px;
        z-index: -1;
        right: 5%;
      }
    }
    // h4:after{
    //   content: "";
    //   position: absolute;
    //   width: 35px;
    //   height: 30px;
    //   border-radius: 10px 0px 10px 10px;
    //   background-color: #e3e5ff;
    //   top: -45px;
    //   z-index: -1;
    //   right: 5%;
    // }
    p {
      margin-top: 25px;
      font-family: "proxima_nova_rgregular";
      font-size: 20px;
      line-height: 24px;
      color: #20282a;
    }
  }
  .learning-progress-right {
    position: relative;
    z-index: 9;
    .secondtop {
      position: relative;
    }
    .learning-block-main {
      background-color: #fff;
      margin-bottom: 20px;
      padding: 15px 10px;
      border-radius: 80px 0 80px 80px;
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.07) !important;
      transition: 0.5s;
      cursor: pointer;
      .icon {
        height: 70px;
        width: 70px;
        background-color: #d3fff1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-left: 20px;
        font-size: 30px;
      }
      h5 {
        margin: 0;
        color: #277da1;
        font-family: "proxima_nova_rgbold";
        font-size: 20px;
        line-height: 24px;
      }
      p {
        font-family: "proxima_nova_rgregular";
        font-size: 16px;
        line-height: 24px;
        color: #20282a;
        margin-top: 10px;
        margin-bottom: 0;
      }
      .learning-right-icon svg {
        color: #d9d9d9;
        width: 19px;
        height: 16px;
      }
    }
    .learning-block-main:hover {
      background: linear-gradient(#1ee9ba, #43aa8b);
      h5,
      p {
        color: #fff !important;
      }
      .icon {
        background-color: #358e74 !important;
        color: #fff !important;
      }
      .learning-right-icon svg {
        color: #fff !important;
        width: 39px !important;
        height: 16px !important;
      }
    }
    .learning-block-main.first {
      position: relative;
      .icon {
        background-color: #d3fff1;
        color: #52b194;
      }
    }
    .learning-block-main.first:after {
      content: "";
      position: absolute;
      width: 62px;
      height: 53px;
      border-radius: 22px 0 22px 22px;
      background-color: #c9fcbc;
      top: -75px;
      right: -3%;
    }
    .learning-six-second {
      position: relative;
      z-index: 9;
      .learning-block-main.second {
        .icon {
          background-color: #358e74;
          color: #fff;
        }
      }
    }
    .learning-block-main.second::after {
      content: "";
      position: absolute;
      width: 143px;
      height: 123px;
      border-radius: 47px 0 47px 47px;
      background-color: #c5f7e7;
      z-index: -1;
      top: -47px;
      right: -3%;
    }
    .learning-block-main.third {
      position: relative;
      .icon {
        background-color: #fff9da;
        color: #fdca79;
      }
    }
    .learning-block-main.third:after {
      content: "";
      position: absolute;
      width: 35px;
      height: 30px;
      border-radius: 10px 0 10px 10px;
      background-color: #ffe6c1;
      bottom: -15px;
      right: -3%;
    }
    .learning-block-main.fourth {
      .icon {
        background-color: #f9e7fd;
        color: #dc50fa;
      }
    }
  }
}
.counter-main {
  padding: 100px 40px;
  .counter-common {
    height: 152px;
    border-radius: 0 76px 76px 76px;
    background: linear-gradient(to right, #f1f1ff, #ddddff);
    display: flex;
    align-items: center;
    padding: 0px 25px;
    h4 {
      color: #fca834;
      font-size: 30px;
      line-height: 50px;
      font-family: "proxima_nova_rgbold";
      margin: 0;
    }
    p {
      font-family: "proxima_nova_rgregular";
      color: #20282a;
      font-size: 20px;
      line-height: 22px;
      margin: 0;
    }
  }
}
.classroom-main {
  padding: 50px 40px;
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
  .classroom-left {
    img {
      width: 100%;
    }
  }
  .classroom-right {
    color: #20282a;
    font-family: "proxima_nova_rgregular";
    display: flex;
    align-items: center;
    position: relative;
 
    h4 {
      font-size: 45px;
      font-family: "proxima_nova_rgbold";
      line-height: 64px;
      position: relative;
      z-index: 9;
      span {
        position: relative;
       
      }
      span:after {
        content: "";
        position: absolute;
        height: 66px;
        width: 85px;
        border-radius: 25px 0 25px 25px;
        background-color: #fff6e9;
        top: -10px;
        z-index: -1;
        right: -15%;
      }
     
    }

    
    // h4:after{
    //   content: "";
    //   position: absolute;
    //   height: 66px;
    //   width: 85px;
    //   border-radius: 25px 0 25px 25px;
    //   background-color: #fff6e9;
    //   top: -10px;
    //   z-index: -1;
    //   left: 152px;
    // }
    p {
      font-size: 22px;
      line-height: 32px;
      margin: 30px 0px;
    }
    li {
      font-size: 18px;
      letter-spacing: 0;
      line-height: 36px;
      svg {
        height: 14px;
        width: 14px;
        margin-right: 5px;
        color: #fca834;
      }
    }
    button {
      height: 66px;
      width: 303px;
      border-radius: 33.75px;
      background-color: #43aa8b;
      box-shadow: 0 12px 10px 0 rgba(67, 170, 139, 0.25);
      border: 0;
      text-align: left;
      padding: 0px 20px;
      color: #fff;
      font-size: 20px;
      font-family: "proxima_nova_rgbold";
      line-height: 24px;
      margin-top: 40px;
      transition: 0.3s;
      opacity: 0.8;
      span {
        float: right;
        height: 24px;
        width: 24px;
        background-color: #fca834;
        border-radius: 50%;
        padding: 0px 7px;
        margin-top: 0px;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          margin-top: 2px;
        }
      }
    }
  }
}
.activities-main {
  padding: 50px 40px;
  padding-top: 0;
  .col-md-5 {
    display: flex;
    align-items: center;
  }
  .activity-right {
    img {
      width: 100%;
    }
  }

  h4 {
    font-size: 45px;
    font-family: "proxima_nova_rgbold";
    line-height: 64px;
    position: relative;
    max-width: 396px;
    z-index: 9;
    span {
      position: relative;
    }
    span:after {
      content: "";
      position: absolute;
      height: 76px;
      width: 85px;
      border-radius: 25px 0 25px 25px;
      background-color: #e3fff6;
      top: 10%;
      z-index: -1;
      left: 72%;
    }
  }
  // h4:after {
  //   content: "";
  //   position: absolute;
  //   height: 76px;
  //   width: 85px;
  //   border-radius: 25px 0 25px 25px;
  //   background-color: #e3fff6;
  //   top: 5%;
  //   z-index: -1;
  //   left: 72px;
  // }
  p {
    font-size: 22px;
    line-height: 32px;
    margin: 30px 0px;
    margin-bottom: 15px;
  }
  button {
    height: 66px;
    width: 303px;
    border-radius: 33.75px;
    background-color: #43aa8b;
    box-shadow: none;
    border: 0;
    text-align: left;
    padding: 0px 20px;
    color: #fff;
    font-size: 20px;
    font-family: "proxima_nova_rgbold";
    line-height: 24px;
    margin-top: 40px;
    span {
      float: right;
      height: 24px;
      width: 24px;
      background-color: #fca834;
      border-radius: 50%;
      padding: 0px 7px;
      margin-top: 0px;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        margin-top: 2px;
      }
    }
  }
}
.olympiad-main {
  padding: 50px 40px;
  padding-top: 0;

  .olympiad-left {
    img {
      width: 100%;
      
    }
  }
  .olympiad-right  {
    display: flex;
    align-items: center;
  }

  h4 {
    font-size: 45px;
    font-family: "proxima_nova_rgbold";
    line-height: 64px;
    position: relative;
    z-index: 9;
    span {
      position: relative;
    }
    span:after {
      content: "";
      position: absolute;
      height: 76px;
      width: 85px;
      border-radius: 25px 0 25px 25px;
      background-color: #fff6e9;
      top: -10px;
      z-index: -1;
      right: -16%;
    }
  }
  // h4:after{
  //   content: "";
  //   position: absolute;
  //   height: 76px;
  //   width: 85px;
  //   border-radius: 25px 0 25px 25px;
  //   background-color: #fff6e9;
  //   top: 50px;
  //   z-index: -1;
  //   left: 145px;
  // }
  p {
    font-size: 22px;
    line-height: 32px;
    margin: 30px 0px;
    margin-bottom: 15px;
  }
  button {
    height: 66px;
    width: 303px;
    border-radius: 33.75px;
    background-color: #43aa8b;
    box-shadow: none;
    border: 0;
    text-align: left;
    padding: 0px 20px;
    color: #fff;
    font-size: 20px;
    font-family: "proxima_nova_rgbold";
    line-height: 24px;
    margin-top: 40px;
    span {
      float: right;
      height: 24px;
      width: 24px;
      background-color: #fca834;
      border-radius: 50%;
      padding: 0px 7px;
      margin-top: 0px;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        margin-top: 2px;
      }
    }
  }
}
.brain-main {
  padding: 50px 40px;
  .brain-left {
    display: flex;
    align-items: center;
    div {
      width: 85%;
    }
  }
  .brain-right {
    img {
      width: 100%;
    }
  }

  h4 {
    font-size: 45px;
    font-family: "proxima_nova_rgbold";
    line-height: 64px;
    position: relative;
    z-index: 9;
    span {
      position: relative;
    }
    span:after {
      content: "";
      position: absolute;
      height: 76px;
      width: 85px;
      border-radius: 25px 0 25px 25px;
      background-color: #fff6e9;
      top: -10px;
      z-index: -1;
      right: 20px;
    }
  }
  p {
    font-size: 22px;
    line-height: 32px;
    margin: 30px 0px;
    margin-bottom: 15px;
  }
  button {
    height: 66px;
    width: 303px;
    border-radius: 33.75px;
    background-color: #43aa8b;
    box-shadow: none;
    border: 0;
    text-align: left;
    padding: 0px 20px;
    color: #fff;
    font-size: 20px;
    font-family: "proxima_nova_rgbold";
    line-height: 24px;
    margin-top: 40px;
    span {
      float: right;
      height: 24px;
      width: 24px;
      background-color: #fca834;
      border-radius: 50%;
      padding: 0px 7px;
      margin-top: 0px;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        margin-top: 2px;
      }
    }
  }
}
.learningjoyful-main {
  padding: 50px 40px;

  .learningjoyful-right {
    display: flex;
    align-items: center;
    div {
      width: 85%;
    }
  }

  h4 {
    font-size: 45px;
    font-family: "proxima_nova_rgbold";
    line-height: 64px;
    position: relative;
    z-index: 9;
  }
  p {
    font-size: 22px;
    line-height: 32px;
    margin: 30px 0px;
    margin-bottom: 15px;
  }
  button {
    height: 66px;
    width: 303px;
    border-radius: 33.75px;
    background-color: #43aa8b;
    box-shadow: none;
    border: 0;
    text-align: left;
    padding: 0px 20px;
    color: #fff;
    font-size: 20px;
    font-family: "proxima_nova_rgbold";
    line-height: 24px;
    margin-top: 40px;
    span {
      float: right;
      height: 24px;
      width: 24px;
      background-color: #fca834;
      border-radius: 50%;
      padding: 0px 7px;
      margin-top: 0px;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        margin-top: 2px;
      }
    }
  }
}
.physical-classroom-main {
  padding: 50px 40px;

  h4 {
    font-size: 45px;
    font-family: "proxima_nova_rgbold";
    line-height: 64px;
    position: relative;
    z-index: 9;
    text-align: center;
    span {
      position: relative;
    }
    span:after {
      content: "";
      position: absolute;
      height: 56px;
      width: 65px;
      border-radius: 17px 0 17px 17px;
      background-color: #fae3ff;
      top: -4px;
      z-index: -1;
      right: 34px;
    }
  }
  p.main-p {
    font-size: 22px;
    line-height: 32px;
    width: 70%;
    margin: 30px auto;
    margin-bottom: 15px;
    text-align: center;
    font-family: "proxima_nova_rgregular";
    margin-bottom: 40px;
  }
  .common-div {
    border-radius: 80px 0 80px 80px;
    padding: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 306px;

    svg {
      height: 70px;
      width: 70px;
      color: #f9b53d;
    }
    h5 {
      margin: 30px 0px 20px;
      color: #277da1;
      font-size: 20px;
      line-height: 24px;
      font-family: "proxima_nova_rgbold";
    }
    p {
      color: #20282a;
      font-size: 16px;
      line-height: 24px;
      font-family: "proxima_nova_rgregular";
    }
  }
  .common-div-1 {
    //background: linear-gradient(#fffbf6, #fff0da);
    position: relative;
  }
  .common-div-1:after {
    content: "";
    position: absolute;
  }
  // .common-div-2 {
  //   background: #fff;
  //   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
  // }
  // .common-div-3 {
  //   background: linear-gradient(#fdf5ff, #f7d4ff);
  // }
  // .common-div-4 {
  //   background: linear-gradient(#f6fff8, #d5ffe1);
  // }
}

.learning-journey-main {
  padding: 80px 60px 70px 80px;
  background: #e9ffef;
  border-radius: 180px 0 180px 0;

  .learning-journey-left {
    display: flex;
    align-items: center;
  }

  .learning-journey-right {
    img {
      width: 100%;
    }
  }

  h4 {
    font-size: 45px;
    font-family: "proxima_nova_rgbold";
    line-height: 64px;
    position: relative;
    z-index: 9;
    max-width: 454px;
    span {
      position: relative;
    }
    span:after {
      content: "";
      position: absolute;
      height: 78px;
      width: 91px;
      border-radius: 0px 31px 31px 31px;
      background-color: #fff6e9;
      top: -15px;
      z-index: -1;
      right: -52px;
    }
  }

  button {
    height: 66px;
    width: 303px;
    border-radius: 33.75px;
    background-color: #43aa8b;
    box-shadow: none;
    border: 0;
    text-align: left;
    padding: 0px 20px;
    color: #fff;
    font-size: 20px;
    font-family: "proxima_nova_rgbold";
    line-height: 24px;
    margin-top: 40px;
    span {
      float: right;
      height: 24px;
      width: 24px;
      background-color: #fca834;
      border-radius: 50%;
      padding: 0px 7px;
      margin-top: 0px;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        margin-top: 2px;
      }
    }
  }
}
.give-gift-main {
  padding: 120px 40px;

  .border-common {
    position: relative;
    height: 50px;
    display: flex;
    max-width: 587px;
    width: 100%;
    border-radius: 0 100px 68px 68px;
    margin-left: -13px;
    span {
      border-left: 2px dotted #f9844a;
      text-align: center;
      display: inline-block;
      position: relative;
      width: 1px;
      height: 100%;
      left: 50%;
    }
    span:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #f9844a;
      left: -11px;
      top: 40%;
    }
  }
  .border-common-2 {
    span {
      border-left: 2px dotted #f9c74f;
    }
    span:after {
      border-top: 10px solid #f9c74f;
    }
  }
  .gift-common {
    display: flex;
    align-items: center;
    border-radius: 0 100px 68px 68px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 106px;
    max-width: 587px;
    width: 100%;
    //margin-bottom: 50px;
    padding-left: 30px;
    font-family: "proxima_nova_rgbold";

    .icon {
      height: 43px;
      width: 43px;
      border-radius: 50%;
      background: #f9844a;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 24px;
    }
    h5 {
      margin-bottom: 0;
      padding-left: 25px;
      font-family: "Proxima Nova";
      font-size: 30px;
      line-height: 36px;
      color: #f9844a;
    }
  }

  .gift-common-2 {
    .icon {
      background: #f9c74f;
    }
    h5 {
      color: #f9c74f;
    }
  }
  .gift-common-3 {
    .icon {
      background: #43aa8b;
    }
    h5 {
      color: #43aa8b;
    }
  }
  .gift-right {
    display: flex;
    align-items: center;
    position: relative;
    h4 {
      font-size: 52px;
      font-family: "proxima_nova_rgbold";
      line-height: 64px;
      position: relative;
      z-index: 9;
      margin-bottom: 25px;
      margin-top: 50px;
      max-width: 503px;
      span.span-1 {
        position: relative;
      }
      span.span-1:after {
        content: "";
        position: absolute;
        height: 30px;
        width: 35px;
        border-radius: 10px 0 10px 10px;
        background-color: #e3e5ff;
        top: -45px;
        z-index: -1;
        left: 64px;
      }
      span.span-2 {
        position: relative;
      }
      span.span-2:after {
        content: "";
        position: absolute;
        height: 56px;
        width: 65px;
        border-radius: 17px 0 17px 17px;
        background-color: #e9ffef;
        top: -5px;
        z-index: -1;
        left: 285px;
      }
      span.span-3 {
        position: relative;
        width: 100%;
      }
      span.span-3:after {
        content: "";
        position: absolute;
        height: 30px;
        width: 35px;
        border-radius: 10px 0 10px 10px;
        background-color: #fbe8ff;
        top: 23px;
        z-index: -1;
        right: -550px;
      }
      span.span-4 {
        position: relative;
      }
      span.span-4:after {
        content: "";
        position: absolute;
        height: 91px;
        width: 106px;
        border-radius: 0px 31px 31px 31px;
        background-color: #fff6e9;
        top: 138px;
        z-index: -1;
        left: 334px;
      }
      span.span-4:before {
        content: "";
        position: absolute;
        height: 53px;
        width: 62px;
        border-radius: 22px 0 22px 22px;
        background-color: #e9ffef;
        top: 281px;
        z-index: -1;
        right: -480px;
      }
    }

    button {
      height: 66px;
      width: 303px;
      border-radius: 33.75px;
      background-color: #43aa8b;
      border: 0;
      text-align: left;
      padding: 0px 20px;
      color: #fff;
      font-size: 20px;
      font-family: "proxima_nova_rgbold";
      line-height: 24px;
      margin-top: 40px;
      position: relative;
      transition: 0.3s;
      opacity: 0.8;
      span {
        float: right;
        height: 24px;
        width: 24px;
        background-color: #fca834;
        border-radius: 50%;
        padding: 0px 7px;
        margin-top: 0px;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          margin-top: 2px;
        }
      }
    }
    button:before {
      content: "";
      position: absolute;
      height: 25px;
      width: 27px;
      border-radius: 10px 0 10px 10px;
      background-color: #e3e5ff;
      top: 40px;
      z-index: -1;
      right: -50px;
    }
    button:after {
      content: "";
      position: absolute;
      height: 30px;
      width: 35px;
      border-radius: 10px 0 10px 10px;
      background-color: #fbe8ff;
      top: 115px;
      z-index: -1;
      left: 20%;
    }
  }
}
.button-common span svg {
  margin-top: 0 !important;
}
.button-common:hover {
  box-shadow: 5px 5px 5px rgba(67, 170, 139, 0.25) !important;
  opacity: 1;
  span {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24) !important;
  }
}

.learningjoyful-main .learningjoyful-right div, .olympiad-right div, .classroom-right div {
  width: 85%;
}

@media only screen and (max-width: 1200px) {
  .give-gift-main .gift-right h4 span.span-4:before {
    right: -230px;
  }
}

@media only screen and (max-width: 1185px) {
  .sub-list-main  {
    display: block;
    padding: 15px 20px;
    div {
     
      margin-right: 15px;
      img {
        height: 20px;
        width: 20px !important;
      }
      h5 {
        font-size: 14px;
      }
    }
   
  }
  .learningprogram-main {
    
    .learning-progress-right {
      .icon {
        width: 50px !important;
        height: 50px !important;
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .give-gift-main .border-common::before {
    left: 49.5%;
  }
}
@media only screen and (max-width: 1023px) {
  .sub-list-main  {
    div {
      width: auto;
    }
    div:last-child {
      float: right;
    }
  }
  .banner-main {
    padding-top: 80px;
    .banner-left {
      h4 {
        font-size: 45px;
        span{
          &:after{
            content: none !important;
          }
        }
      }
      p {
        font-size: 16px;
        margin: 25px 0px 25px;
      }
      .banner-left-bottom-icon {
        display: none;
      }
    }
    .banner-right {
      img {
        margin-top: -35px;
      }
    }
  }
  .learningprogram-main {
    .learning-progress-left {
      h4 {
        font-size: 25px;
      }
      span {
        &:after {
          content: none !important;
        }
      }
      p {
        font-size: 16px;
      }
    }
    .learning-progress-right {
      .learning-block-main {
        padding: 15px 20px;
        height: auto;
        border-radius: 20px !important;
        .row {
          margin: 0;
        }
        .learning-block-left {
          display: flex;
          width: 100%;
          justify-content: center;
          margin-bottom: 20px;
          padding: 0;
          .icon {
            margin: 0;
          }
        }
        .learning-block-right {
          display: block;
          width: 100%;
          text-align: center;
          padding: 0;
          h5 {
            font-size: 18px;
          }
          p {
            font-size: 13px;
          }
        }
        .learning-right-icon {
          display: block;
          width: 100%;
          text-align: center;
        }
        &:after {
          content: none !important;
        }
      }
    }
  }
  .counter-main {
    padding: 50px 40px;
    .counter-common {
      text-align: center;
      h4 {
        font-size: 22px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .classroom-main {
    .classroom-right {
      h4 {
        font-size: 35px;
      }
      span {
        &:after {
          content: none !important;
        }
      }
      p {
        font-size: 16px;
      }
      li {
        font-size: 15px;
      }
    }
  }
  .activities-main {
    h4 {
      font-size: 35px;
      line-height: 45px;
      span {
        &::after{
          content: none !important;
        }
      }
    }
    p {
      font-size: 16px;
    }
  }

  .olympiad-main {
    h4 {
      font-size: 35px;
      line-height: 45px;
      span {
        &::after{
          content: none !important;
        }
      }
    }
    p {
      font-size: 16px;
    }
  }

  .brain-main {
    h4 {
      font-size: 35px;
      line-height: 45px;
      span {
        &::after{
          content: none !important;
        }
      }
    }
    p {
      font-size: 16px;
    }
  }

  .learningjoyful-main {
    h4 {
      font-size: 35px;
      line-height: 45px;
      span {
        &::after{
          content: none !important;
        }
      }
    }
    p {
      font-size: 16px;
    }
  }
  .physical-classroom-main {
    h4 {
      font-size: 35px;
      line-height: 45px;
      span {
        &::after{
          content: none !important;
        }
      }
    }
    p.main-p {
      font-size: 16px;
      line-height: 1.8;
    }
    .common-div {
      padding: 40px 25px;
      height: 340px;
     
      h5 {
        font-size: 17px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .learning-journey-main {
    h4 {
      font-size: 35px;
      line-height: 45px;
      span {
        &::after{
          content: none !important;
        }
      }
    }
  }
  .give-gift-main  {
    .gift-left {
      .icon {
        height: 35px;
        width: 35px;
      }
    }
    h5 {
      font-size: 22px !important;
    }
  }

  .gift-right {
    h4 {
      font-size: 35px !important;
      line-height: 45px !important;
      span {
        &::after{
          content: none !important;
        }
        &::before{
          content: none !important;
        }
      }
      
    }
    button {
      &::after{
        content: none !important;
      }
      &::before{
        content: none !important;
      }
    }
  }
}
@media only screen and (max-width: 830px) {
  .give-gift-main h5 {
    font-size: 18px !important;
  }
  .give-gift-main .border-common::before {
    left: 48.8%;
  }
}
@media only screen and (max-width: 805px) {
  .sub-list-main  {
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
    div:last-child {
      float: none;
      display: block;
      width: 100%;
      text-align: center !important;
      margin-top: 25px;
    }
  }
  .banner-main {
    .banner-left {
      h4 {
        font-size: 35px;
        line-height: 45px;
      }
    }
  }
  .button-common {
    width: 250px !important;
    height: 50px !important;
    font-size: 17px !important;
    span {
      margin-top: 0 !important;
    }
  }
}

@media only screen and (max-width: 767px) {
  .banner-main {
    padding-top: 30px;
    .banner-right {
      text-align: center;
      img {
        margin-top: 50px;
        width: 100%;
        max-width: 400px;
      }
    }
  }
  .learningprogram-main {
    padding-top: 50px;
    .learning-progress-right {
      margin-top: 30px;
    }
  }
  .counter-main {
    .counter-common {
      margin-bottom: 30px;
      .row {
        width: 100%;
      }
    }
  }
  .classroom-main {
    .classroom-left {
      text-align: center;
      img {
        width: 100%;
        max-width: 400px;
      }
    }
  }
  .activities-main {
    p {
      margin-bottom: 0;
    }
    .activity-right {
      text-align: center;
      img {
        width: 100%;
        max-width: 400px;
        margin-top: 50px;
      }
    }
  }

  .olympiad-main {
    p {
      margin-bottom: 0;
    }
    .olympiad-left {
      text-align: center;
      img {
        width: 100%;
        max-width: 400px;
      }
    }
  }

  .brain-main {
    p {
      margin-bottom: 0;
    }
    .brain-right {
      text-align: center;
      display: block;
      img {
        width: 100%;
        max-width: 400px;
        margin-top: 50px;
      }
    }
  }

  .learningjoyful-main {
    p {
      margin-bottom: 0;
    }
    .learningjoyful-left {
      text-align: center;
      img {
        width: 100%;
        max-width: 400px;
      }
    }
    .learningjoyful-right {
      margin-top: 50px;
      width: 100%;
    }
  }
  .physical-classroom-main {
    .common-div {
      height: auto;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .learning-journey-main {
    .learning-journey-left {
      display: block;
    }
    .learning-journey-right {
      margin-top: 50px;
    }
  }
  .give-gift-main {
    .gift-common {
      max-width: 100%;
    }
    .border-common {
      max-width: 100%;
    }
  }

  .learningjoyful-main .learningjoyful-right div, .olympiad-right div, .classroom-right div, .brain-left div {
    width: 100% !important;
  }
}



@media only screen and (max-width: 725px) {
  .sub-list-main  {
    div {
      width: 35%;
      margin-bottom: 20px;
    }
  }
}
@media only screen and (max-width: 605px) {
  .learningprogram-main .learning-progress-right .learning-block-main {
    height: 225px;
  }
}
@media only screen and (max-width: 575px) {
  .sub-list-main  {
    div {
      width: 100%;
    }
  }
  .banner-main, .classroom-main, .activities-main, .olympiad-main, .brain-main, .physical-classroom-main, .learning-journey-main {
    padding-left: 20px;
    padding-right: 20px;
    
  }
  .give-gift-main {
    padding-left: 40px;
    padding-right: 20px;
  }
  .learningprogram-main {
    padding: 50px 20px 50px 20px;
  }
  .learningprogram-main .learning-progress-right .learning-block-main {
    height: auto;
    border-radius: 20px !important;
  }
  .counter-main {
    padding: 50px 20px;
  }
  .learning-journey-left {
    padding-left: 50px !important;
  }
  .give-gift-main .gift-common {
    padding-left: 10px;
  }
  .give-gift-main .gift-common h5 {
    line-height: 1.3;
  }
  .gift-right h4, .learning-journey-main h4, .physical-classroom-main h4, .learningjoyful-main h4, .brain-main h4, .olympiad-main h4, .activities-main h4, .classroom-main .classroom-right h4, .learningprogram-main .learning-progress-left h4 {
    font-size: 25px !important;
    line-height: 35px !important;
  }
}

// few changes to css, inorder to be suitable for strapi data

.banner-text-bg {
  position: relative;
  z-index: 9;
  max-width: 594px;
}
.banner-text-bg:after {
  content: "";
  position: absolute;
  width: 300px;
  height: 260px;
  border-radius: 90px 0px 90px 90px;
  background-color: #fff6e9;
  top: -57px;
  z-index: -1;
  left: 166px;
}

.banner-text-div:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 30px;
  border-radius: 10px 0 10px 10px;
  background-color: #E3F1FF;
  top: -57px;
  z-index: -1;
  left: 10px;
}

@media screen and (max-width: 767px) {
  .banner-text-bg:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 160px;
    border-radius: 90px 0px 90px 90px;
    background-color: #fff6e9;
    top: 57px;
    z-index: -1;
    right: 0px;
  }

  .banner-text-div:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 30px;
    border-radius: 10px 0 10px 10px;
    background-color: #E3F1FF;
    top: 17px;
    z-index: -1;
    left: 10px;
  }
}