.main1 {
    padding-top: 30px;

    .main2 {
        .onlineclassmain {
            background-color: #2e2e2e;
            border-radius: 20px 20px 0px 0px;
            display: flex;
            justify-content: space-between;
            padding: 20px 30px 20px 30px;
        }

        .onlineHeading {
            color: #FAFAFA;
            font-family: "Proxima Nova";
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 22px;
            margin-bottom: 0px;

        }

        .onlineTime {
            color: #FAFAFA;
            font-family: "Proxima Nova";
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 19px;
            margin-bottom: 0px;
        }

        .subdivmain {
            padding-top: 2%;
            display: flex;
        }

        .onlineclasssubject {
            border-radius: 0 0 20px 20px;
            background-color: #FFF4E9;
            width: 100%;
            float: left;
            padding: 20px 0px 20px 20px;
            margin-bottom: 30px;
        }

        .onlineSubTitle {
            color: #20282A;
            font-family: "Proxima Nova";
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 29px;
            margin-bottom: 0px;
        }

        .onlineTopic {
            color: #454C4E;
            font-family: "Proxima Nova";
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 22px;
            margin-bottom: 0px;
        }

        .onlineTopiclink {
            color: #43AA8B;
            font-family: "Proxima Nova";
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 17px;
        }

        // .subimgdiv {
        //     padding-top: 20px;
        // }
        .subtopicsec {
            padding-left: 10px;
        }

        .testicon {
            padding-right: 10px;
        }

        .modelsecdiv {
            padding-left: 20px;
        }

        .middlediv {
            border-radius: 8px;
            background-color: #FFDFBE;
            margin-top: 8%;
            padding: 5px;
            text-align: center;
            margin-left: 10px;
        }

        // .floatleft {
        //     float: left;
        // }

        .tabheadtext {
            color: #20282A;
            font-family: "Proxima Nova";
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 29px;
        }

        .tabsubhead {
            color: #454C4E;
            font-family: "Proxima Nova";
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 22px;
        }

        .tabcontent {
            color: #20282A;
            font-family: "Proxima Nova";
            font-size: 16px;
            letter-spacing: 0;
            line-height: 24px;
            padding-top: 30px;
        }

        .Clockicon {
            padding-right: 5px;
        }

        .rawnimg {
            padding-right: 15px;
        }

        .jionlink {
            text-align: center;
            padding-top: 9%;
        }

        .jionlink button {
            width: 190px;
            padding: 15px;
            border-radius: 10px;
            background-color: #f3722c;
            border: 0;
            color: #fff;
            margin: 0;
            font-family: "proxima_nova_rgbold";
            font-size: 19px;
        }

        .jionlink button a {
            font-size: 16px;
            color: #fff;
            text-decoration: none;
        }

        .audioLinkdiv {
            text-align: center;
            padding-top: 4%;
            padding-bottom: 2%;
        }

        .audioLink {
            color: #F3722C;
            font-family: "Proxima Nova";
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 17px;
        }

        .sliderBox {
            border-radius: 20px;
            background-color: #FFFFFF !important;
            box-shadow: 0 12px 34px -10px rgba(0, 0, 0, 0.05) !important;
        }


    }
}


.examHeading
{
    color: #20282A;
    font-family: "Proxima Nova";
    font-size: 30px;
    letter-spacing: 0;
    line-height: 34px;
}
.examsidediv
{
    border-radius: 0 100px 0 100px;
  background: linear-gradient(143.67deg, #39C399 0%, #00A070 100%);
  
}
.cupicon
{
    width: 80%;
}
.aasigngradediv p
{
margin-bottom: 5px;
}
.assinon
{
    color: #FFFFFF;
    font-family: "Proxima Nova";
    font-size: 20px;
    letter-spacing: 0;
    line-height: 22px;
}
.gradename
{
    color: #FFFFFF;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}
.cupicondiv
{
    text-align: right;
}
.rowpadding
{
    padding-top: 30px;
    padding-bottom: 25px;
}
// .dashboard-main
// { 
//     .row-main {
//         .dashboard-right { 
//             .myexam-main{ 
//                 .myexam-title{
//                     margin: 0px;
//                 } }}}}


.completeddiv
{
    border-radius: 10px;
  background-color: #F4F7FC;
  width: 100%;
  float: left;
  padding: 30px;
  margin-top: 20px;
  .row{
    padding-bottom: 20px;
  }
}


.chapttitle
{
    color: #6F797B;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 5px;
}
.subtitle
{
    color: #454C4E;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 5px;
}

.myexam-answer-right {
    h3 {
      font-family: "proxima_nova_rgregular";
      font-size: 24px;
      color: #20282A;
      margin-bottom: 20px;
    }
    .exam-right-common {
      background-color: #F4F7FC;
      border-radius: 20px;
      padding: 15px;
      margin-bottom: 20px;
      .exam-right-left {
        img {
          width: 28px;
          height: 19px;
        }
      }
      .exam-right-center {
        h5 {
          font-family: "proxima_nova_rgregular";
          color: #20282A;
          font-size: 20px;
        }
        h5.answer {
          color: #43AA8B;
          font-family: "proxima_nova_rgbold";
          margin: 15px 0px;
        }
        .option-main {
          height: 0px;
        }
        .option-main.show {
          height: 100px;
        }
        .option-top {
          display: flex;
          div {
            width: 100px;
            height: auto;
           
            img {
              width: 56px;
              height: 56px;
            }
            span {
              width: 34px;
              height: 34px;
              border-radius: 50%;
              background-color: #A0A4A6;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              font-family: "proxima_nova_rgbold";
             
            }
          }
        }
        span.index {
          font-family: "proxima_nova_rgbold";
        }
      }
      .exam-right-right {
        button {
          cursor: pointer;
          background-color: transparent;
          border: 0;
        }
        img {
          height: 20px;
          width: 20px;
        }
      }
    }
  }



  .dashboard-main .row-main .dashboard-right .myexam-answer-main-top {
    padding: 15px !important;
    .myexam-answer-left {
      margin-top: 65px;
    }
  }
  .dashboard-main .row-main .dashboard-right .renewsub-main .renew-right-main button.payment-process {
    max-width: 100%;
    font-size: 14px;
  }

  .myexam-answer-main-top {
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0;
    left: 0;
    padding: 35px;
    height: 100vh;
    z-index: 9999;
    padding-top: 70px;
    padding-right: 20px;
    padding-bottom: 0;
  }
  .close-top{
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    text-align: right;
    .close-btn {
      background-color: transparent;
      border: 0;
      position: absolute;
      right: 4%;
      top: 25%;
      img {
        height: 20px;
        width: 20px;
      }
    }
}

.myexam-answer-main {
    width: 100%;
    margin: auto;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 30px;
    padding-right: 20px;
    .myexam-answer-left {
      padding: 50px 30px;
      background: linear-gradient(#39C399, #00A070);
      border-radius: 0 100px 0 100px;
      color: #FFFFFF;
      .row {
        margin-bottom: 40px;
      }
      .row:last-child {
        margin-bottom: 0px;
      }
      p {
        
        font-family: "proxima_nova_rgregular";
        font-size: 20px;
        margin-bottom: 5px;
      }
      h5 {
        font-size: 19px;
        font-family: "proxima_nova_rgbold";
      }
      .Olympiad {
        img {
          width: 48px;
          height: 50px;
        }
      }
      .Total {
        img {
          width: 50px;
          height: 50px;
        }
      }
      .Date {
        img {
          width: 45px;
          height: 50px;
        }
      }
      .Time {
        img {
          width: 43px;
          height: 51px;
        }
      }
      .Accuracy {
        img {
          width: 47px;
          height: 50px;
        }
      }
      .Right {
        img {
          width: 36px;
          height: 50px;
        }
      }
    }
    .myexam-answer-right {
      h3 {
        font-family: "proxima_nova_rgregular";
        font-size: 24px;
        color: #20282A;
        margin-bottom: 20px;
      }
      .exam-right-common {
        background-color: #F4F7FC;
        border-radius: 20px;
        padding: 15px;
        margin-bottom: 20px;
        .exam-right-left {
          img {
            width: 28px;
            height: 19px;
          }
        }
        .exam-right-center {
          h5 {
            font-family: "proxima_nova_rgregular";
            color: #20282A;
            font-size: 20px;
          }
          h5.answer {
            color: #43AA8B;
            font-family: "proxima_nova_rgbold";
            margin: 15px 0px;
          }
          .option-main {
            height: 0px;
          }
          .option-main.show {
            height: 100px;
          }
          .option-top {
            display: flex;
            div {
              width: 100px;
              height: auto;
             
              img {
                width: 56px;
                height: 56px;
              }
              span {
                width: 34px;
                height: 34px;
                border-radius: 50%;
                background-color: #A0A4A6;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-family: "proxima_nova_rgbold";
               
              }
            }
          }
          span.index {
            font-family: "proxima_nova_rgbold";
          }
        }
        .exam-right-right {
          button {
            cursor: pointer;
            background-color: transparent;
            border: 0;
          }
          img {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }


  .assignbutdiv
  {
      text-align: center;
  }
  .classcompleted
  {
    color: #43AA8B;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 29px;
  }
  .sendassignment
  {
    color: #454C4E;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  }
  



  //mypayments styles
  .divbg
  {
  border-radius: 10px;
  background: linear-gradient(270deg, #1C1C1C 0%, #373737 100%);
  box-shadow: 0 1px 34px -6px rgba(154,154,154,0.1);
  padding: 20px;
  }
  .paymentid
  {
    color: #FFFFFF;
    font-family: "Proxima Nova";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 15px; 
    margin-bottom: 10px;
  }
  .payeename
  {
    color: #FFFFFF;
    font-family: "Proxima Nova";
    font-size: 26px;
    margin-bottom: 0px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 31px;
  }



  table {
    border-collapse: separate;
    border-spacing: 20px 0;
    width: 100%;
  }
  th {
    // background-color: #4287f5;
    color: white;
    text-align: center !important;
    color: #6F797B;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
  }
  th,
  td {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    
  }
  .tablerow{
    border-radius: 10px;
   background-color: #FFFFFF;
  box-shadow: 0 22px 24px -10px rgba(189,189,189,0.07);
  border-collapse: separate;
  border-spacing: 0 1em;
  }
  .gfg {
    border-collapse:separate;
    border-spacing:0 15px;
}
.pending
{
  color: #FCA834;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}
.processed
{
  color: #43AA8B;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #FCA834;
  border-radius: 50%;
 
}
.viewdetails
{
  color: #F3722C;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  text-decoration: underline; 
}
.paymentsection
{
  padding-top: 40px;
}
.tabledatastyle
{
  color: #20282A;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}
.topdivpad
{
  padding-top: 30px;
}
.tableheadings
{
  color: #6F797B;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
}