.student-image {
  height: 60px;
  width: 60px;
}

.dothide {
  display: none;
}

.dothide {
  display: none;
}

.mypaymenttab .nav-tabs .nav-link.active {
  color: #1C1C1C;
  border-color: transparent transparent #eee !important;
  border-bottom: 6px solid #1C1C1C !important;
  background-color: transparent !important;
}

.mypaymenttab .nav-tabs .nav-link {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  color: #1C1C1C;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
}

.mypaymenttab {
  padding-top: 30px;
}

.nav-link:focus, .nav-link:hover {
  color: #495057 !important;
}

.mypaymenttab .nav-tabs {
  width: 50% !important;
}

.paymentstdid {
  color: #20282A;
  font-weight: 600;
}

.main1 {
  padding-top: 30px;
}

.main1 .main2 .onlineclassmain {
  background-color: #2e2e2e;
  border-radius: 20px 20px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 30px 20px 30px;
}

.main1 .main2 .onlineHeading {
  color: #FAFAFA;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: 0px;
}

.main1 .main2 .onlineTime {
  color: #FAFAFA;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  margin-bottom: 0px;
}

.main1 .main2 .subdivmain {
  padding-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main1 .main2 .onlineclasssubject {
  border-radius: 0 0 20px 20px;
  background-color: #FFF4E9;
  width: 100%;
  float: left;
  padding: 20px 0px 20px 20px;
  margin-bottom: 30px;
}

.main1 .main2 .onlineSubTitle {
  color: #20282A;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
  margin-bottom: 0px;
}

.main1 .main2 .onlineTopic {
  color: #454C4E;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: 0px;
}

.main1 .main2 .onlineTopiclink {
  color: #43AA8B;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 17px;
}

.main1 .main2 .subtopicsec {
  padding-left: 10px;
}

.main1 .main2 .testicon {
  padding-right: 10px;
}

.main1 .main2 .modelsecdiv {
  padding-left: 20px;
}

.main1 .main2 .middlediv {
  border-radius: 8px;
  background-color: #FFDFBE;
  margin-top: 8%;
  padding: 5px;
  text-align: center;
  margin-left: 10px;
}

.main1 .main2 .tabheadtext {
  color: #20282A;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
}

.main1 .main2 .tabsubhead {
  color: #454C4E;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
}

.main1 .main2 .tabcontent {
  color: #20282A;
  font-family: "Proxima Nova";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  padding-top: 30px;
}

.main1 .main2 .Clockicon {
  padding-right: 5px;
}

.main1 .main2 .rawnimg {
  padding-right: 15px;
}

.main1 .main2 .jionlink {
  text-align: center;
  padding-top: 9%;
}

.main1 .main2 .jionlink button {
  width: 190px;
  padding: 15px;
  border-radius: 10px;
  background-color: #f3722c;
  border: 0;
  color: #fff;
  margin: 0;
  font-family: "proxima_nova_rgbold";
  font-size: 19px;
}

.main1 .main2 .jionlink button a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.main1 .main2 .audioLinkdiv {
  text-align: center;
  padding-top: 4%;
  padding-bottom: 2%;
}

.main1 .main2 .audioLink {
  color: #F3722C;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 17px;
}

.main1 .main2 .sliderBox {
  border-radius: 20px;
  background-color: #FFFFFF !important;
  -webkit-box-shadow: 0 12px 34px -10px rgba(0, 0, 0, 0.05) !important;
          box-shadow: 0 12px 34px -10px rgba(0, 0, 0, 0.05) !important;
}

.toggle-maths-div {
  width: 50% !important;
}

.mysujecthead {
  color: #20282A;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Proxima Nova";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 31px;
}

.totalstudents {
  color: #7D93F2;
  font-family: "Proxima Nova";
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 31px;
  text-align: right;
}

.innerdiv {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 6px 24px 0 rgba(181, 181, 181, 0.24);
          box-shadow: 0 6px 24px 0 rgba(181, 181, 181, 0.24);
}

.studenticon {
  height: 60px;
  width: 60px;
}

.stdname {
  color: #20282A;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  padding-top: 15px;
}

.stdgrade {
  color: #454C4E;
  font-family: "Proxima Nova";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
}

.label-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.atteddiv .attendance {
  color: #43AA8B;
  font-family: "Proxima Nova";
  width: 97px;
  border: 1px solid #43AA8B;
  border-radius: 9.5px;
  background-color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  padding: 5px 15px 5px 15px;
}

.atteddiv .attendanceAbsent {
  color: #FD2A5B;
  font-family: "Proxima Nova";
  width: 97px;
  border-radius: 9.5px;
  border: 1px solid #EB2F6A;
  background-color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  padding: 5px 15px 5px 15px;
}

.stdloopdiv {
  padding-top: 20px;
}

.dtoggle-bar {
  width: 96% !important;
}

.examHeading {
  color: #20282A;
  font-family: "Proxima Nova";
  font-size: 30px;
  letter-spacing: 0;
  line-height: 34px;
}

.examsidediv {
  border-radius: 0 100px 0 100px;
  background: linear-gradient(143.67deg, #39C399 0%, #00A070 100%);
}

.cupicon {
  width: 80%;
}

.aasigngradediv p {
  margin-bottom: 5px;
}

.assinon {
  color: #FFFFFF;
  font-family: "Proxima Nova";
  font-size: 20px;
  letter-spacing: 0;
  line-height: 22px;
}

.gradename {
  color: #FFFFFF;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}

.cupicondiv {
  text-align: right;
}

.rowpadding {
  padding-top: 30px;
  padding-bottom: 25px;
}

.completeddiv {
  border-radius: 10px;
  background-color: #F4F7FC;
  width: 100%;
  float: left;
  padding: 30px;
  margin-top: 20px;
}

.completeddiv .row {
  padding-bottom: 20px;
}

.chapttitle {
  color: #6F797B;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 17px;
  margin-bottom: 5px;
}

.subtitle {
  color: #454C4E;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 5px;
}

.myexam-answer-right h3 {
  font-family: "proxima_nova_rgregular";
  font-size: 24px;
  color: #20282A;
  margin-bottom: 20px;
}

.myexam-answer-right .exam-right-common {
  background-color: #F4F7FC;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
}

.myexam-answer-right .exam-right-common .exam-right-left img {
  width: 28px;
  height: 19px;
}

.myexam-answer-right .exam-right-common .exam-right-center h5 {
  font-family: "proxima_nova_rgregular";
  color: #20282A;
  font-size: 20px;
}

.myexam-answer-right .exam-right-common .exam-right-center h5.answer {
  color: #43AA8B;
  font-family: "proxima_nova_rgbold";
  margin: 15px 0px;
}

.myexam-answer-right .exam-right-common .exam-right-center .option-main {
  height: 0px;
}

.myexam-answer-right .exam-right-common .exam-right-center .option-main.show {
  height: 100px;
}

.myexam-answer-right .exam-right-common .exam-right-center .option-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.myexam-answer-right .exam-right-common .exam-right-center .option-top div {
  width: 100px;
  height: auto;
}

.myexam-answer-right .exam-right-common .exam-right-center .option-top div img {
  width: 56px;
  height: 56px;
}

.myexam-answer-right .exam-right-common .exam-right-center .option-top div span {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #A0A4A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: "proxima_nova_rgbold";
}

.myexam-answer-right .exam-right-common .exam-right-center span.index {
  font-family: "proxima_nova_rgbold";
}

.myexam-answer-right .exam-right-common .exam-right-right button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.myexam-answer-right .exam-right-common .exam-right-right img {
  height: 20px;
  width: 20px;
}

.divbg {
  border-radius: 10px;
  background: -webkit-gradient(linear, right top, left top, from(#1C1C1C), to(#373737));
  background: linear-gradient(270deg, #1C1C1C 0%, #373737 100%);
  -webkit-box-shadow: 0 1px 34px -6px rgba(154, 154, 154, 0.1);
          box-shadow: 0 1px 34px -6px rgba(154, 154, 154, 0.1);
  padding: 25px 20px;
  height: 120px;
}

.paymentid {
  color: #FFFFFF;
  font-family: "Proxima Nova";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.payeename {
  color: #FFFFFF;
  font-family: "Proxima Nova";
  font-size: 26px;
  margin-bottom: 0px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 31px;
}

table {
  border-collapse: separate;
  border-spacing: 20px 0;
  width: 100%;
}

th {
  color: white;
  text-align: center !important;
  color: #6F797B;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
}

th,
td {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  color: #6F797B;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}

.tablerow {
  border-radius: 10px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 22px 24px -10px rgba(189, 189, 189, 0.07);
          box-shadow: 0 22px 24px -10px rgba(189, 189, 189, 0.07);
  border-collapse: separate;
  border-spacing: 0 1em;
}

.gfg {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.pending {
  color: #FCA834;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}

.processed {
  color: #43AA8B;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #FCA834;
  border-radius: 50%;
}

.viewdetails {
  color: #F3722C;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  text-decoration: underline;
}

.paymentsection {
  padding-top: 40px;
}

.paymentsection h1 {
  color: #20282A;
  font-family: "Proxima Nova";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 31px;
}

.tabledatastyle {
  color: #20282A;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}

.topdivpad {
  padding-top: 30px;
}

.tableheadings {
  color: #6F797B;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
}

.dashboard-main .fixed-assign-bar {
  width: 75%;
  height: 110px;
  position: fixed;
  bottom: 0;
  background-color: #FFFFFF;
  -webkit-box-shadow: -40px -18px 34px -10px rgba(0, 0, 0, 0.12);
          box-shadow: -40px -18px 34px -10px rgba(0, 0, 0, 0.12);
  margin-left: -20px;
}

.dashboard-main .fixed-assign-bar .container-fixed-assign-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 110px;
}

.dashboard-main .fixed-assign-bar .heading-and-selected-topics {
  padding-left: 40px;
  padding-top: 20px;
}

.dashboard-main .fixed-assign-bar .student-name-and-assign-button {
  background-color: #E3FFF6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  width: 50%;
}

.dashboard-main .fixed-assign-bar .heading-assigned {
  color: #42494B;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}

.dashboard-main .fixed-assign-bar .selected-topics {
  color: #20282A;
  font-family: "Proxima Nova";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
}

.dashboard-main .fixed-assign-bar .student-name {
  color: #20282A;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 29px;
}

.dashboard-main .fixed-assign-bar .grades {
  color: #454C4E;
  font-family: "Proxima Nova";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
}

.dashboard-main .fixed-assign-bar .assign-button {
  height: 66px;
  width: 273px;
  border-radius: 33.75px;
  background-color: #43AA8B;
  -webkit-box-shadow: 0 12px 10px 0 rgba(67, 170, 139, 0.25);
          box-shadow: 0 12px 10px 0 rgba(67, 170, 139, 0.25);
  border: none;
  color: #FFFFFF;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-align: left;
  padding-left: 20px;
}

.dashboard-main .progress-and-percentage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.dashboard-main .progress-and-percentage .percentage {
  padding-left: 10px;
  margin-top: -5px;
  color: #79A2E7;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  text-align: right;
}

.dashboard-main .container {
  background-color: #FFFFFF;
}

.dashboard-main .container .container-body {
  padding: 20px;
}

.dashboard-main .container .heading-and-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-main .about {
  color: #20282A;
  font-family: "Proxima Nova";
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.dashboard-main .heading {
  color: #20282A;
  font-family: "proxima_nova_rgbold";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 31px;
  margin: 30px 10px;
}

.dashboard-main .student-name-and-grades {
  margin-left: -60px;
}

.dashboard-main .container-lists-and-sublists-main {
  border-radius: 20px;
  background-color: #F4F7FC;
  max-height: 100vh;
}

.dashboard-main .container-lists-and-sublists {
  margin-right: 120px;
}

.dashboard-main .label-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard-main .lists-and-sublists {
  padding: 40px;
  height: 739px;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dashboard-main .list-name {
  color: #20282A;
  font-family: "Proxima Nova";
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 10px;
}

.dashboard-main .sub-topic {
  color: #20282A;
  font-family: "Proxima Nova";
  font-size: 20px;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 10px;
}

.dashboard-main .progress-bar {
  height: 6px;
  width: 253px;
  color: #79A2E7;
}

.dashboard-main .label-and-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-main .label-and-checkbox .checkbox {
  margin-top: 5px;
  margin-right: 5px;
  height: 24px;
  width: 24px;
}

.dashboard-main .label-and-checkbox .subtopic-name-selected {
  color: #4FB697;
  font-family: "Proxima Nova";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 10px;
  margin-right: 5px;
}

.dashboard-main .label-and-checkbox .subtopic-name {
  color: #42494B;
  font-family: "Proxima Nova";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 5px;
  margin-right: 5px;
}

.dashboard-main .row-main .dashboard-right .myexam-answer-main-top {
  padding: 15px !important;
}

.dashboard-main .row-main .dashboard-right .myexam-answer-main-top .myexam-answer-left {
  margin-top: 65px;
}

.dashboard-main .row-main .dashboard-right .renewsub-main .renew-right-main button.payment-process {
  max-width: 100%;
  font-size: 14px;
}

.myexam-answer-main-top {
  position: fixed;
  width: 100%;
  background: #fff;
  top: 0;
  left: 0;
  padding: 35px;
  height: 100vh;
  z-index: 9999;
  padding-top: 70px;
  padding-right: 20px;
  padding-bottom: 0;
}

.close-top {
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  text-align: right;
}

.close-top .close-btn {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 4%;
  top: 25%;
}

.close-top .close-btn img {
  height: 20px;
  width: 20px;
}

.myexam-answer-main {
  width: 100%;
  margin: auto;
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 30px;
  padding-right: 20px;
}

.myexam-answer-main .myexam-answer-left {
  padding: 50px 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#39C399), to(#00A070));
  background: linear-gradient(#39C399, #00A070);
  border-radius: 0 100px 0 100px;
  color: #FFFFFF;
}

.myexam-answer-main .myexam-answer-left .row {
  margin-bottom: 40px;
}

.myexam-answer-main .myexam-answer-left .row:last-child {
  margin-bottom: 0px;
}

.myexam-answer-main .myexam-answer-left p {
  font-family: "proxima_nova_rgregular";
  font-size: 20px;
  margin-bottom: 5px;
}

.myexam-answer-main .myexam-answer-left h5 {
  font-size: 19px;
  font-family: "proxima_nova_rgbold";
}

.myexam-answer-main .myexam-answer-left .Olympiad img {
  width: 48px;
  height: 50px;
}

.myexam-answer-main .myexam-answer-left .Total img {
  width: 50px;
  height: 50px;
}

.myexam-answer-main .myexam-answer-left .Date img {
  width: 45px;
  height: 50px;
}

.myexam-answer-main .myexam-answer-left .Time img {
  width: 43px;
  height: 51px;
}

.myexam-answer-main .myexam-answer-left .Accuracy img {
  width: 47px;
  height: 50px;
}

.myexam-answer-main .myexam-answer-left .Right img {
  width: 36px;
  height: 50px;
}

.myexam-answer-main .myexam-answer-right h3 {
  font-family: "proxima_nova_rgregular";
  font-size: 24px;
  color: #20282A;
  margin-bottom: 20px;
}

.myexam-answer-main .myexam-answer-right .exam-right-common {
  background-color: #F4F7FC;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
}

.myexam-answer-main .myexam-answer-right .exam-right-common .exam-right-left img {
  width: 28px;
  height: 19px;
}

.myexam-answer-main .myexam-answer-right .exam-right-common .exam-right-center h5 {
  font-family: "proxima_nova_rgregular";
  color: #20282A;
  font-size: 20px;
}

.myexam-answer-main .myexam-answer-right .exam-right-common .exam-right-center h5.answer {
  color: #43AA8B;
  font-family: "proxima_nova_rgbold";
  margin: 15px 0px;
}

.myexam-answer-main .myexam-answer-right .exam-right-common .exam-right-center .option-main {
  height: 0px;
}

.myexam-answer-main .myexam-answer-right .exam-right-common .exam-right-center .option-main.show {
  height: 100px;
}

.myexam-answer-main .myexam-answer-right .exam-right-common .exam-right-center .option-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.myexam-answer-main .myexam-answer-right .exam-right-common .exam-right-center .option-top div {
  width: 100px;
  height: auto;
}

.myexam-answer-main .myexam-answer-right .exam-right-common .exam-right-center .option-top div img {
  width: 56px;
  height: 56px;
}

.myexam-answer-main .myexam-answer-right .exam-right-common .exam-right-center .option-top div span {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #A0A4A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: "proxima_nova_rgbold";
}

.myexam-answer-main .myexam-answer-right .exam-right-common .exam-right-center span.index {
  font-family: "proxima_nova_rgbold";
}

.myexam-answer-main .myexam-answer-right .exam-right-common .exam-right-right button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.myexam-answer-main .myexam-answer-right .exam-right-common .exam-right-right img {
  height: 20px;
  width: 20px;
}

.assignbutdiv {
  text-align: center;
}

.classcompleted {
  color: #43AA8B;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 29px;
}

.sendassignment {
  color: #454C4E;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
}
/*# sourceMappingURL=teachers.css.map */