.main1 {
    padding-top: 30px;

    .main2 {
        .onlineclassmain {
            background-color: #2e2e2e;
            border-radius: 20px 20px 0px 0px;
            display: flex;
            justify-content: space-between;
            padding: 20px 30px 20px 30px;
        }

        .onlineHeading {
            color: #FAFAFA;
            font-family: "Proxima Nova";
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 22px;
            margin-bottom: 0px;

        }

        .onlineTime {
            color: #FAFAFA;
            font-family: "Proxima Nova";
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 19px;
            margin-bottom: 0px;
        }

        .subdivmain {
            padding-top: 2%;
            display: flex;
        }

        .onlineclasssubject {
            border-radius: 0 0 20px 20px;
            background-color: #FFF4E9;
            width: 100%;
            float: left;
            padding: 20px 0px 20px 20px;
            margin-bottom: 30px;
        }

        .onlineSubTitle {
            color: #20282A;
            font-family: "Proxima Nova";
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 29px;
            margin-bottom: 0px;
        }

        .onlineTopic {
            color: #454C4E;
            font-family: "Proxima Nova";
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 22px;
            margin-bottom: 0px;
        }

        .onlineTopiclink {
            color: #43AA8B;
            font-family: "Proxima Nova";
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 17px;
        }

        // .subimgdiv {
        //     padding-top: 20px;
        // }
        .subtopicsec {
            padding-left: 10px;
        }

        .testicon {
            padding-right: 10px;
        }

        .modelsecdiv {
            padding-left: 20px;
        }

        .middlediv {
            border-radius: 8px;
            background-color: #FFDFBE;
            margin-top: 8%;
            padding: 5px;
            text-align: center;
            margin-left: 20px;
        }

        // .floatleft {
        //     float: left;
        // }

        .tabheadtext {
            color: #20282A;
            font-family: "Proxima Nova";
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 29px;
        }

        .tabsubhead {
            color: #454C4E;
            font-family: "Proxima Nova";
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 22px;
        }

        .tabcontent {
            color: #20282A;
            font-family: "Proxima Nova";
            font-size: 16px;
            letter-spacing: 0;
            line-height: 24px;
            padding-top: 30px;
        }

        .Clockicon {
            padding-right: 5px;
        }

        .rawnimg {
            padding-right: 15px;
        }

        .jionlink {
            text-align: center;
            padding-top: 9%;
        }

        .jionlink button {
            width: 190px;
            padding: 15px;
            border-radius: 10px;
            background-color: #f3722c;
            border: 0;
            color: #fff;
            margin: 0;
            font-family: "proxima_nova_rgbold";
            font-size: 19px;
        }

        .jionlink button a {
            font-size: 16px;
            color: #fff;
            text-decoration: none;
        }

        .audioLinkdiv {
            text-align: center;
            padding-top: 4%;
            padding-bottom: 2%;
        }

        .audioLink {
            color: #F3722C;
            font-family: "Proxima Nova";
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 17px;
        }

        .sliderBox {
            border-radius: 20px;
            background-color: #FFFFFF !important;
            box-shadow: 0 12px 34px -10px rgba(0, 0, 0, 0.05) !important;
        }


    }
}