.completed-popup-main .close-popup {
  position: fixed;
  z-index: 999999;
  top: 50px;
  right: 50px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
}

.completed-popup-main .close-popup img {
  width: 20px;
  height: 20px;
}

.completed-popup-main .light-blue-background-container {
  background: #E3FFF6;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: scroll;
  z-index: 99999;
}

.completed-popup-main .light-blue-background-container .rectangle-container {
  top: 18%;
  position: absolute;
  padding-bottom: 50px;
}

.completed-popup-main .light-blue-background-container .rectangle-container .green-rectangle {
  height: 39.4rem;
  width: 40.488rem;
  border-radius: 0 5.563rem 0 5.563rem;
  background-color: #C3FFEC;
  z-index: 1;
}

.completed-popup-main .light-blue-background-container .rectangle-container .green-rectangle .white-rectangle {
  height: 38.438rem;
  width: 39.688rem;
  border-radius: 0 5.563rem 0 5.563rem;
  background-color: #FFFFFF;
  z-index: 2;
}

.completed-popup-main .light-blue-background-container .rectangle-container .flex-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.completed-popup-main .light-blue-background-container .rectangle-container .flex-items .specialClam {
  margin-top: 1.7rem;
}

.completed-popup-main .light-blue-background-container .rectangle-container .flex-items .bold-font {
  color: #20282A;
  font-size: 3.25rem;
  font-family: "proxima_nova_rgbold";
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 0;
}

.completed-popup-main .light-blue-background-container .rectangle-container .flex-items .light-font {
  color: #4A5052;
  font-family: "proxima_nova_rgregular";
  font-size: 1.875rem;
  text-align: center;
  margin-bottom: 30px;
}

.completed-popup-main .light-blue-background-container .rectangle-container .flex-items .flex-items-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5rem;
  width: 9.938rem;
  border-radius: 1.219rem;
  background-color: #FFF4E9;
  padding-top: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.938rem;
}

.completed-popup-main .light-blue-background-container .rectangle-container .flex-items .flex-items-points img {
  height: 1.813rem;
  width: 1.813rem;
  margin-top: -0.125rem;
  margin-right: 0.313rem;
}

.completed-popup-main .light-blue-background-container .rectangle-container .flex-items .flex-items-points .points {
  height: 1.5rem;
  width: 6.125rem;
  color: #FCA834;
  font-family: "proxima_nova_rgregular";
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0;
}

.completed-popup-main .light-blue-background-container .rectangle-container .flex-items .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  width: 34.688rem;
  border-radius: 1.875rem;
  background-color: #F4F7FC;
}

.completed-popup-main .light-blue-background-container .rectangle-container .flex-items .stats img {
  height: 3.125rem;
  width: 4.375rem;
}

.completed-popup-main .light-blue-background-container .rectangle-container .flex-items .stats .score-1, .completed-popup-main .light-blue-background-container .rectangle-container .flex-items .stats .score-2 {
  width: 100%;
  color: #454C4E;
  font-family: "proxima_nova_rgbold";
  font-size: 20px;
  font-weight: bold;
  line-height: 1.25rem;
}

.completed-popup-main .light-blue-background-container .rectangle-container .flex-items .stats .stats-1, .completed-popup-main .light-blue-background-container .rectangle-container .flex-items .stats .stats-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.completed-popup-main .light-blue-background-container .rectangle-container .flex-items .stats .stats-1 .right-ans, .completed-popup-main .light-blue-background-container .rectangle-container .flex-items .stats .stats-2 .avg-score {
  width: 100%;
  color: #454C4E;
  font-family: "proxima_nova_rgregular";
  font-size: 1.15rem;
  margin-bottom: 0.313rem;
}

.completed-popup-main .light-blue-background-container .rectangle-container .flex-items button {
  height: 3.125rem;
  width: 18.125rem;
  border-radius: 1.875rem;
  background: #43AA8B;
  color: #FFFFFF;
  font-size: 1rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3.125rem;
  margin-top: 1.45rem;
  margin-bottom: 1.9rem;
}

@media only screen and (max-width: 767px) {
  .completed-popup-main .rectangle-container {
    width: 100% !important;
  }
  .completed-popup-main .green-rectangle {
    width: 93% !important;
    margin: auto;
    height: auto !important;
  }
  .completed-popup-main .white-rectangle {
    width: 98% !important;
    height: auto !important;
  }
  .completed-popup-main .white-rectangle p.bold-font {
    font-size: 35px !important;
  }
  .completed-popup-main .white-rectangle p.light-font {
    font-size: 22px !important;
  }
  .completed-popup-main .white-rectangle .stats {
    width: 90% !important;
    height: auto !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: 20px 0px;
  }
  .completed-popup-main .white-rectangle .stats-1, .completed-popup-main .white-rectangle .stats-2 {
    width: 100% !important;
    display: block !important;
    text-align: center;
  }
  .completed-popup-main .white-rectangle .stats-1 img, .completed-popup-main .white-rectangle .stats-2 img {
    margin-bottom: 15px;
  }
  .completed-popup-main .white-rectangle .stats-2 {
    margin-top: 20px;
  }
  .completed-popup-main .white-rectangle button {
    width: 200px !important;
    margin: 40px auto !important;
  }
}
/*# sourceMappingURL=popup.css.map */