.PhoneInputCountrySelect {display:none}

.outermost-div{

  
  .invisible-part{
      
    height:50px;
   
    margin-top: 40px;
    border-top-left-radius: -9px;
    display: flex;
    justify-content: space-between;
    padding:10px;
    
    .plus-icon{
      width:24px;
      height:24px;
      display:flex;
      justify-content:center;
      align-items: center;
          
    }

    .add-grade{
      
      display:flex;
      justify-content:center;
      align-items: center;
      color: #43AA8B;
      font-family: "proxima_nova_rgbold";
      font-size: 24px;
      font-weight: bold;
      
      
      
      line-height: 24px;


    }
  }



}
  
.register-main {
    background-color: #f4f7fc;
    padding-bottom: 50px;
    min-height:100vh;
    box-shadow: 0 22px 24px -10px rgba(189,189,189,0.07);
    .container{
      width:95%
    }
    .step-body {
      padding: 40px 50px;
      background-color: #fff;
      max-width: 100%;
      margin: 20px auto;
      border-radius: 40px;
      box-shadow: 0 22px 24px -10px rgba(189,189,189,0.07);

   
    
      .step-btn-part {
        margin-top: 50px;
      }
      span.error-msg {
        font-size: 15px;
        color: red;
        margin-top: 10px;
        font-family: "Proxima Nova";
      }
      .css-6kb8m9-menu {
        div {
          cursor: pointer;
        }
        div:hover {
          background-color: #E3FFF6;
          color: #43AA8B;
        }
      }
    }
    .register-top {
      padding: 40px 0px 15px;
      .row{
        width:100%;
        display:flex;
        justify-content: space-between;
        margin-left:-40px;

        .flex-row{
          display: flex;
          width:100%;
        }



        .inline-cross{
          
          width:30px;
          padding-top:15px;
          margin-right:-40px;

        }



        
       
      }
      .close{
      
        width:20px;
        height:20px;

      }

      .logo{
        height: 63.32px;
  width: 241px;
      }
      h2 {
        font-size: 40px;
        line-height: 48px;
        color: #20282a;
        font-family: "Proxima Nova";
        margin-top: 10px;
        margin-bottom: 30px;
        margin-left:-50px;
        span {
          color: #43aa8b;
        }
      }
    }
    .option-part {
      padding: 90px 40px 15px;
      background-color: #fff;
      height: 323px;
      margin:108px 10px;
      width: 1250px;
      border-radius: 40px;
      box-shadow: 0 22px 24px -10px rgba(189,189,189,0.07);
      .option-part-head {
        margin-bottom: 30px;
        text-align: center;
        h3 {
          font-size: 50px;
          font-family: "Proxima Nova";
          margin-top:-267px;
        }
        p {
          font-family: "Proxima Nova";
          font-size: 30px;
          width:100%;
          margin-bottom: 68px;
        }
      }
      .option-common {
        display: inline-block;
        padding-top:14px;
        height: 207px;
        width: 250px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 5px 18px 0 rgba(140,140,140,0.1);
        margin-left:72px;
        margin-bottom:5rem;
        margin-top:50px;
        margin-right:53px;

        cursor: pointer;
        box-shadow: rgba(140,140,140,0.1);
        margin-right: 20px;
        svg {
          margin-top: 50px;
        }
        p {
          margin-top: 20px;
          font-family: "proxima_nova_rgbold";
          font-size: 25px;
        }
        &:hover {
          background-color: #43AA8B;
          svg {
            fill: #fff !important;
          }
          p {
            color: #fff !important;
          }
        }
      }
      .option-common.active {
        background-color: #43AA8B;
        svg {
          fill: #fff !important;
        }
        p {
          color: #fff !important;
        }
      }
      div.option-common:last-child {
        margin-right: 0;
      }
      h5.already-account {
        margin-top: 100px;
        font-size: 30px;
        font-family: "Proxima Nova";
        color: #20282A;
        a {
          color: #43AA8B;
          text-decoration: none;
        }
      }
      button {
        max-width: 335px;
        width: 100%;
        height: 55px;
        border-radius: 25px;
        border: 0;
        background-color: #40A486;
        color: #fff;
        margin-top: 30px;
        font-family: "Proxima Nova";
        font-size: 20px;
        svg {
          margin-left: 10px;
        }
      }
    }
    .stepper-above {
      display: inline-block;
      width: 15%;
      position: relative;
      button {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #e8e8e8;
        border: 0;
        z-index: 9;
        position: relative;
        svg {
          font-size: 13px;
          position: relative;
          top: -2px;
          color: #fff;
          left: -2px;
        }
      }
  
      span {
        display: block;
        font-family: "proxima_nova_rgregular";
        font-size: 20px;
        line-height: 20px;
        margin-top: 12px;
        color: #4a5052;
      }
    }
    .stepper-above.active {
      button {
        background-color: #f3722c !important;
      }
    }
    .stepper-above.prev-step {
      button {
        background-color: #43aa8b !important;
      }
      span {
        color: #43aa8b;
      }
      &:after {
        background: #43aa8b;
      }
    }
    .stepper-above:after {
      content: "";
      position: absolute;
      background: #e8e8e8;
      height: 1px;
      width: 100%;
      top: 11px;
      left: 50%;
    }
    div.stepper-above:last-child:after {
      content: none !important;
    }

    // .coursedetails-main2{
    //   background-color: #fff ;
    //   border-radius:20px;

    //   .dropdown-class{
    //     margin-left:20px;
    //   }

    //   .label-div{
    //     margin-left:20px
    //   }
      
    //   .coursedetails-main{
    //     .course-detail-select{
        
    //       .div.css-1s2u09g-control,.css-1pahdxg-control{
    //       display:none;
    //     }}
    //   }
      

      
      
    // }


    .coursedetails-main {
      .upload-container{
        margin-top: 50px;;
        font-style:'proxima_nova_rgregular';
        width: 98%;
        color: #7D8283;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 22px;

        .dashed-border{

          border :dashed 3px #E0E0E0 ;
          height: 176px;
          width: 100%;
          border-radius: 15px;

          .file-uploader{
            display:block;
            width: 100%;
            height: 100%;
            label {
              display: block;
              width: 100% !important;
              height: 100%;
              max-width: 100%;
              margin-top: 0px !important;
              svg {
                display: none;
              }
              .sc-dkPtRN.ebdQkY {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                span {
                  font-family: "Proxima Nova";
                  color: #7E8283;
                  font-size: 18px;
                  span {
                    display: none;
                  }
                }
                span.sc-hKwDye.kCudqJ {
                  position: relative;
                }
                span.sc-hKwDye::after {
                  content: ' here';
                  color: #F3722C;
                  font-family: "Proxima Nova";
                  font-size: 18px;
                }
                span.sc-hKwDye.kCudqJ:before {
                  content: "Maximum file size: 15MB";
                  position: absolute;
                  width: 100%;
                  text-align: center;
                  bottom: -29px;
                  font-size: 15px;
                }
                span.file-types {
                  display: none;
                }
              } 
            }
            .iciELI{
              border:none;
              width:500px;
            }

            .kCudqJ span{
              font-size:20px;
              color:black;
            }

            .kCudqJ{
              font-size:18px;

            }

            .ebdQkY > span{
              font-size:15px;


            }

            .iciELI {
              margin-top:-10px;
            }

            
         
          }

         

          .upload-text1{



           text-align: center;
           padding-top:50px;
           font-size: 20px;
           font-weight: 600;
           letter-spacing: 0;
           line-height: 22px;
           color: #7D8283;






           .file-uploader{
             border:"red";
           }
          
           
          }

          .max-size{
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 17px;
            text-align: center;
            color: #7D8283;
          }

         

          .orange{
            color:#F3722C;
            margin-left: 7px;
            cursor: pointer;
          }

      

        }

        .upload-image{
          margin-right:10px;
        }

        .upload-notif{
          margin-top: 35px;;
          border:#E0E0E0 solid 2px;
          width:100%;
          height: 66px;
          display: flex;
          justify-content: space-between;
          color: #20282A;
          font-size: 18px;
          align-items: center;
          font-style:'proxima_nova_rgregular';
          padding-left: 50px;
          border-radius:15px;

          .remove-file{
            border:none;
            font-style:'proxima_nova_rgregular';
            background-color: #fff;
            margin-right:50px;

          }

          .preview-image{
            height:40px;
            width:40px;
          }

          .close{
      
            width:20px;
            height:20px;
            margin-right:20px;
    
          }



          .faded{
            color:#7E8283;            }

        }
      }

    



   



      .heading-and-dropdown{

        .subject-list-main{

          .subject-list{
            .round{
              .checkmark{
                top:-25px;
              }
            }
          }
        }
      }
      .border1{
        background-color: #FFFFFF;
        height:50px;
        width:99.2%;
        border-bottom-left-radius:40px ;
        border-bottom-right-radius:40px ;
        
        
      }

      .border2{
        background-color: #FFFFFF;
        height:50px;
        width:99.2%;
        border-top-left-radius:40px ;
        border-top-right-radius:40px ;
        
        
      }

      .invisible-part{
      
        height:100px;
        width:60vw;
        margin-left:-80px;
        margin-top: 40px;
        border-top-left-radius: -9px;
        display: flex;
        justify-content: space-between;
        padding:10px;
        
        .plus-icon{
          width:24px;
          height:24px;
          display:flex;
          justify-content:center;
          align-items: center;
              
        }

        .add-grade{
          
          display:flex;
          justify-content:center;
          align-items: center;
          color: #43AA8B;
          font-family: "proxima_nova_rgbold";
          font-size: 24px;
          font-weight: bold;
          
          
          
          line-height: 24px;


        }
      }

    

      // .row{

      //   .css-1s2u09g-control{
      //     display:none;
      //   }
      //   .inactive{
      //     display:none;
      //   }
      // }

      

      .heading-and-dropdown{
        width:100%;
        height:auto;

        .close-icon-container{
        width:100%;
          height:40px;
          display:flex;
          flex-direction: row-reverse;
          margin-top:-80px;
        }



        .close-grade{
          border:none;
          background-color:transparent;
          width:20px;
          height:20px;
          position: relative;
          top: -20px;
        }
        .close-icon2{
          width:30px;
          height:30px;
        }
    
        .heading{
            padding-top:30px;
            width:100%;
            
            h2{
                color: #454C4E;
                font-family: "proxima_nova_rgbold";
                font-size: 24px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 29px;
                text-align: center;
            }
            
            p{
                color: #7D8283;
                font-family: "Proxima Nova";
                font-size: 19px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 22px;
                text-align: center;
            }
    
            h2,p{
                text-align: center;
            }
            
            
        }
    
    
        .dropdowns{
            display:flex;
            justify-content: space-between;
            

           


            .mutiple-dropdown-part{
              .flex-column{
                display:flex;
                width:49vw; 
              }
              .subject-list-main {
                width: 100%;
                margin-bottom: 30px;
              }
            }

            
              .experience-field{
                width:100%;
                height:66px;
                padding: 0px 10px;
                border: 1px solid #e0e0e0;
                border-radius: 10px;
              }
              .experience-field.focus-visible {
                border: 1px solid #43aa8b;
                border-radius: 10px;
                box-shadow: none;
                outline: none;
              }
            
        
            .label-div{
                color: #7D8283;
                font-family: "Proxima Nova";
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 25px;

                .bold-weekday{
                  color: #454C4E
                }
            }
    
            .dropdown-class{
                color: #7D8283;
                font-family: "Proxima Nova";
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 35px;
                height:80px;
                width:80%;
                
            }

            

            
        }
    
    }
      h3.text-center {
        font-family: "proxima_nova_rgbold";
        color: #454c4e;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        margin-bottom: 40px;
        span {
          color: #f3722c;
        }
      }
      .course-detail-select {




        .ReactFlagsSelect-module_selectBtn__19wW7{
          border-radius: 10px;
          height: 66px;
          border: 1px solid #e0e0e0;
          width: 100%;
        }
        .css-6j8wv5-Input{
          font-size:20px;
        }
        .css-1kixbkd:hover{
          background-color:  "blue";
        }
        .css-12jo7m5{
          border-radius: 33px;
          color: #7D8283;
          font-size: 18px;
          overflow: hidden;
          padding: 7px;
          margin: 0 5px;
          text-overflow: ellipsis;
          white-space: nowrap;
          box-sizing: border-box;
          background-color: #E3FFF6;
          font-style:"Proxima Nova";
          font-weight: 600;
        }
         .css-xb97g8 {
          border-radius: 50%;
          color: #7D8283;
          font-size: 20px;
          margin-left:-10px
         }

         .css-xb97g8 :hover {
          background-color: #E3FFF6;
          color:black;
         }

         .css-1rhbuit-multiValue{
          border-radius: 33px;
          width:auto;
         
          background-color: #E3FFF6;
          border: 1px solid #E0E0E0;

         }
        label, div.label-div {
          display: block;
          color: #7d8283;
          font-family: "Proxima Nova";
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 5px;
          margin-top: 30px;
        }
        div.css-1s2u09g-control:focus, .css-1pahdxg-control:focus{
          border-color: blue;
        }

       
        div.css-1s2u09g-control, .css-1pahdxg-control {
          width: 120%;
          border: 1px solid #e0e0e0;
          border-radius: 10px;
          height: 66px;
          background-color: #fff;
          padding: 0px 20px;
          cursor: pointer;
          align-items: center;
          position: relative;
          box-shadow: none;

          .css-319lph-ValueContainer {
           
          }
          .css-1hb7zxy-IndicatorsContainer {
            span {
              width: 0;
            }
            .css-tlfecz-indicatorContainer {
              padding: 0;
              svg {
                fill: #212529;
              }
            }
          }
        }
        div.select {
          .css-1s2u09g-control{
            margin-top:10px;
            }
          width: 100%;
          border: 1px solid #e0e0e0;
          border-radius: 10px;
          height: 66px;
          background-color: #fff;
          padding: 0px 20px;
          cursor: pointer;
          display: flex;
          align-items: center;
          position: relative;
          svg {
            position: absolute;
            right: 20px;

            
          }
        }
        button {
          width: 100%;
          border: 1px solid #e0e0e0;
          border-radius: 10px;
          height: 66px;
          background-color: #fff;
          padding: 0px 20px;
          cursor: pointer;
          display: flex;
          align-items: center;
          position: relative;
          box-shadow: none;
        }
        select:focus {
          outline: 0 !important;
        }
        .dropdown.false {
          display: none;
        }
        .dropdown.true {
          display: block;
          border: 1px solid #e0e0e0;
          border-radius: 10px;
          margin-top: 5px;
          div {
            cursor: pointer;
            height: 80px;
            display: flex;
            align-items: center;
            padding: 20px;
          }
          div:hover {
            background-color: #e3fff6;
            color: #43aa8b;
            border-radius: 10px 10px 0 0;
          }
        }
        .dropdown-main {
          position: relative;
          .dropdown {
            position: absolute;
            width: 100%;
            background-color: #fff;
            z-index: 9;
          }
        }

        
       
      }
      .mutiple-dropdown-part {
        width:100%;
        height: auto;

       

        
        .qual-and-edu{
          display:flex;
          justify-content: space-between;

         


        }


        .qual{
          margin-right: 50px;;

          .div.css-1s2u09g-control{
            width:150%
          }

          
        }

        .upload-container{
          margin-top: 50px;;
          font-style:'proxima_nova_rgregular';
          width: 100%;
          color: #7D8283;
          font-size: 18px;
          font-weight: 600;
          letter-spacing: 0;
          line-height: 22px;


          .dashed-border{

         
            
            border :dashed 3px #E0E0E0 ;
            height: 176px;
            width: 100%;
            border-radius: 15px;

            

            .upload-text1{
             text-align: center;
             padding-top:50px;
             font-size: 18px;
             font-weight: 600;
             letter-spacing: 0;
             line-height: 22px;
             color: #7D8283;
             
            }

            .max-size{
              text-align: center;
              font-size: 14px;
              font-weight: 600;
              letter-spacing: 0;
              line-height: 17px;
              text-align: center;
              color: #7D8283;
            }

           

            .orange{
              color:#F3722C;
            }

        

          }

          .upload-image{
            margin-right:10px;
          }

          .upload-notif{
            margin-top: 60px;;
            border:#E0E0E0 solid 2px;
            width:100%;
            height: 66px;
            display: flex;
            color: #20282A;
            font-size: 18px;
            align-items: center;
            font-style:'proxima_nova_rgregular';
            padding-left: 50px;

            .faded{
              color:#7E8283;            }

          }
        }
       
        

        
        div {
          
         
          span.css-1v99tuv {
            color: #7D8283;
            font-family: "Proxima Nova";
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 22px;
            

          }
          .css-1vr111p-option,
          .css-1qprcsu-option {
            cursor: pointer;
            height: 80px;
            display: flex;
            align-items: center;
            padding: 20px;
            input {
              right: 20px;
              position: absolute;
            }
          }
          .css-1qprcsu-option {
            background-color: #e3fff6 !important;
            color: #43aa8b !important;
          }
          div.css-1vr111p-option:hover {
            background-color: #e3fff6;
            color: #43aa8b;
            border-radius: 10px 10px 0 0;
          }
        }
        .css-1pcexqc-container {
          display: block;
          border: 1px solid #e0e0e0;
          border-radius: 10px;
          margin-top: 5px;
        }
        .css-g1d714-ValueContainer {
          position: absolute;
          top: 100%;
          margin-top: 25px;
          left: 0;
          .css-1rhbuit-multiValue {
            border-radius: 20px;
            border: 1px solid blue;
            background-color: transparent;
            padding: 5px;
            min-width: 135px;
            margin-right: 10px;
            .css-12jo7m5 {
              width: 85%;
              color: blue;
            }
            div.css-xb97g8 {
              svg {
                fill: blue !important;
                height: 25px;
                width: 25px;
              }
            }
            div.css-xb97g8:hover {
              background-color: transparent;
            }
          }
        }
        // .css-g1d714-ValueContainer::after{
        //   content: 'Select';
        //   position: absolute;
        //   top: 50%;
        // }
        .css-1hb7zxy-IndicatorsContainer {
          div:first-child {
            position: absolute;
            right: 50px;
          }
          div:last-child {
            position: absolute;
            right: 20px;
          }
          
        }
        .selected-top {
          margin-top: 27px;
          visibility: hidden;
          .selected-common {
            height: 38px;
            width: 135px;
            display: inline-block;
          }
        }
      }
      .mutiple-dropdown-part.mutiple-dropdown-part-right {
        .selected-top {
          margin-top: 61px;
          margin-left: -15px;
        }
      }
      .mutiple-dropdown-part.activity-dropdown {
        .css-g1d714-ValueContainer {
          top: 0;
          margin-top: 0;
          left: 100%;
          width: 100%;
        };
      }
      .subject-list-main {
        label.label {
          display: block;
          color: #7d8283;
          font-family: "Proxima Nova";
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 5px;
          margin-top: 10px;
        }
        .subject-list {
          border: 1px solid #e0e0e0;
          display: inline-flex;
          align-items: center;
          padding: 10px 15px;
          width: auto;
          border-radius: 33px;
          margin-right: 10px;
          margin-bottom: 15px;
          color: #20282A;
          font-family: "Proxima Nova";
          background-color: #f4f7fc;
          font-size:18px;
          font-weight: 600;
          padding-right: 25px;
          min-width: 175px;
          min-height: 55px;
          .round {
            position: relative;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            display: inline-block;
            vertical-align: top;
            margin-right: 35px;
            input {
              border-radius: 50%;
              margin-right: 10px;
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }
            input:checked ~ .checkmark {
              background-color: #43aa8b;
            }
            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 25px;
              width: 25px;
              background-color: #fff;
              border: 1px solid #e0e0e0;
              border-radius: 50%;
            }
            .checkmark:after {
              content: "";
              position: absolute;
              display: none;
            }
            input:checked ~ .checkmark:after {
              display: block;
            }
            .checkmark:after {
              left: 9px;
              top: 5px;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
        .subject-list.active {
          border: 1px solid #43aa8b;
          background-color: #fff;
          color: #43aa8b;
        }
      }
    }
    .mydetails-main {
      .row{
        font-family: "Proxima Nova";
        font-size: 20px;
        padding-bottom: 10px;
        color: #7d8283;

        .course-detail-select{

          
        .custom-dropdown{
          width:100%
        }
            
            .element-style{
              font-size: 20px;;
            }

            .select-button{
              font-size: 40px;;

            }

            .menu-flags{
              font-size: 40px;
              .ReactFlagsSelect-module_filterBox__3m8EU {
                padding: 15px;
                padding-bottom: 0;
                input {
                  margin: 0;
                }
              }
              ul {
                li:hover {
                  background-color: #E3FFF6;
                  span {
                    color: #43AA8B;
                  }
                }
              }
             
              .select-button::after {
                content: "";
                display: block;
                box-sizing: border-box;
                width: 8px;
                height: 8px;
                border-bottom: 2px solid #7D8283;
                border-right: 2px solid #7D8283;
                transform: rotate(45deg);
                left: 4px;
                top: 2px;
                border-left: 0;
                border-top: 0;
                margin-right: 3px;
              }
            }

          #state {
           .css-1pahdxg-control {
             box-shadow: none;
             border: 1px solid #e0e0e0;
             height: 66px;
             cursor: pointer;
           }
           .css-1okebmr-indicatorSeparator {
            background-color: transparent;
           }
           
          }
          
          button.select-button:focus {
            border: 1px solid #43AA8B;
          }
          .ReactFlagsSelect-module_selectBtn__19wW7{
            border-radius: 10px;
            height: 66px;
            border: 1px solid #e0e0e0;
            width: 100%;
            font-size: 20px;
          }

          .ReactFlagsSelect-module_fullWidthOptions__1XeR6{
            max-height:350px;
            border-radius: 10px;
          }

          .ReactFlagsSelect-module_selectOptionValue__vS99-{
            font-size: 20px;
            padding:20px 10px;
          }

        }





        
        .ABC{
          input{
            margin-left:-72px;
            padding-left:80px;
          }

          svg{
            padding-left:20px
          }
        }

       

        .css-1s2u09g-control {
         
          border-radius: 10px;
          height: 66px;
          border: 1px solid #e0e0e0;
          width: 100%;
          

          .css-2613qy-menu{
            color:black;
          }

        }

     

        

        


        // .css-1s2u09g-control:focus{
        //   border: 1px solid greenyellow;
        // }
        .css-319lph-ValueContainer{
          margin: -12px;
         
          margin-left: 10px;;
        }

       
      }

     
     
      .otp-block {
        button{
          background-color: #FFFFFF;
          border:none;
          color: #43aa8b;
        }
        input {
          width: 100% !important;
        }
        span {
          margin-right: 10px;
        }
        p {
          color: #43aa8b;
          font-family: "proxima_nova_rgbold";
          margin-top: 7px;
          text-align: right;
         
          span {
            margin-right: 0;
            cursor: pointer;
          }
        }
      }
      
      .mydetail-input {
        .mydetail-input-part {
          position: relative;

          .phone-input-custom{
            input{
                  padding: 10px 70px;
                  font-size: 18px;
                  
                  image{
                    height:20px;
                  }
            }

          }
          
            
          

        


         

        }
        button {
          display: inline-block;
          position: absolute;
          right: 7%;
          bottom: 16%;
          background: transparent;
          border: 0;
          color: #f3722c;
          font-family: "proxima_nova_rgbold";
        }
        .success-msg {
          color: green;
        }
      }
      h3.text-center {
        font-family: "proxima_nova_rgbold";
        color: #454c4e;
        font-size: 25px;
        line-height: 29px;
        text-transform: uppercase;
        margin-bottom: 40px;
        span {
          color: #f3722c;
        }
      }
      label {
        display: block;
        color: #7d8283;
        font-family: "Proxima Nova";
        font-size: 20px;
        line-height: 22px;
        margin-top: 38px;

       
      }
      input {
        width: 100%;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        height: 66px;
        background-color: #fff;
        padding: 0px 20px;
        margin-top: 5px;
      }
      input:focus {
        outline: 0 !important;
        border: 1px solid #43AA8B;
        box-shadow: none;
      }
      input:hover {
        border-color: #e0e0e0;
      }
    }

    .pay-fees-main {
      .payment-main {
        font-family: "Proxima Nova";
  
        label {
          margin-top: 0;
          font-size: 18px;
        }
        h4 {
          font-size: 22px;
          color: #454c4e;
        }
        p {
          color: #454c4e;
          font-size: 22px;
          margin-bottom: 0;
          margin-top: 25px;
        }
        .payment-data {
          margin-bottom: 25px;
        }
      }
      .total-data {
        background-color: #e3fff6;
        border-radius: 0 0 10px 10px;
        height: 70px;
        display: flex;
        align-items: center;
        padding: 0px 30px;
        width: 75%;
        margin: auto;
        font-family: "Proxima Nova";
        h4 {
          color: #43aa8b;
          font-size: 24px;
          margin-bottom: 0;
        }
        h3 {
          font-size: 30px;
          margin-bottom: 0;
          color: #43aa8b;
        }
      }
    }
    .create-student-main {
      h3.text-center {
        font-family: "proxima_nova_rgbold";
        color: #454c4e;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      h4 {
        color: #f3722c;
        font-size: 24px;
        font-family: "proxima_nova_rgbold";
        line-height: 29px;
        margin-bottom: 5px;
      }
      h4.title-last {
        position: relative;
        top: 32px;
      }
      label {
        display: block;
        color: #7d8283;
        font-family: "Proxima Nova";
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 5px;
        margin-top: 30px;
      }
      input {
        width: 100%;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        height: 66px;
        background-color: #fff;
        padding: 0px 20px;
      }
      input:focus {
        outline: 0 !important;
      }
      // .create-student-main {
      //   .col-md-6 {
      //     margin-bottom: 40px;
      //   }
      // }

      .student-last {
        position: relative;
        top: 32px;
      }
      .addparent-above {
        left: -41px;
        position: relative;
        width: calc(100% + 81px);
        height: 50px;
        background-color: #fff;
        /* margin-bottom: 18px; */
        top: 32px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        z-index: 9;
        margin-bottom: 3px;
      }
      .addparent-above-below {
        left: -41px;
        position: relative;
        width: calc(100% + 99px);
        height: 40px;
        background-color: #f4f7fc;
        top: 2px;
      }
      .addparent-top {
        left: -41px;
        position: relative;
        width: calc(100% + 90px);
        height: 50px;
        background-color: #f4f7fc;
        margin-bottom: 18px;
      }
      .addparent-bottom {
        left: -40px;
        position: relative;
        width: calc(100% + 80px);
        height: 50px;
        background-color: #fff;
        border-top-left-radius: 40px;
        top: -50px;
        border-top-right-radius: 40px;
      }
      .parent-title {
        margin-top: -50px;
      }
      // .parent-title {
      //   left: -42px;
      //   position: relative;
      //   width: calc(100% + 90px);
      //   top: 0px;
      //   &::before {
      //     content: "";
      //     position: absolute;
      //     left: 1px;
      //     top: -3px;
      //     width: 30px;
      //     height: 32px;
      //     background: #f4f7fc;
      //   }
      //   &::after {
      //     content: "";
      //     position: absolute;
      //     width: 50px;
      //     height: 50px;
      //     background: #fff;
      //     left: 2px;
      //     border-top-left-radius: 40px;
      //     top: -1px;
      //   }
      // }
    }
    .success-part {
      h1 {
        color: #43aa8b;
        font-size: 50px;
        font-family: "proxima_nova_rgbold";
        margin: 30px 0px;
      }
      p {
        font-family: "proxima_nova_rgregular";
        font-size: 30px;
        color: #4a5052;
        line-height: 34px;
      }

      .success-icon{
        width:180px;
        height:180px;
      }


    }
    .next-button {
      background-color: #43aa8b;
      box-shadow: none;
      border-radius: 33.75px;
      color: #fff;
      border: 0;
      width: 273px;
      height: 66px;
      font-size: 20px;
      font-family: "proxima_nova_rgbold";
      text-align: left;
      padding: 0px 25px;
      transition: 0.3s;
      opacity: 0.8;
      margin-right:10px;
      margin-bottom: 10px;
      span {
        float: right;
        height: 24px;
        width: 24px;
        background-color: #fca834;
        border-radius: 50%;
        padding: 0px 7px;
        margin-top: 4px;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .back-button
    {
      background-color: #43aa8b;
      box-shadow: none;
      border-radius: 33.75px;
      color: #fff;
      border: 0;
      width: 100px;
      margin-right: 10px;
      height: 66px;
      font-size: 20px;
      font-family: "proxima_nova_rgbold";
      text-align: left;
      padding: 0px 25px;
      transition: 0.3s;
      opacity: 0.8;
    }
    .next-button:hover {
      box-shadow: 5px 5px 5px rgb(67 170 139 / 25%) !important;
      opacity: 1;
      span {
        box-shadow: 5px 5px 5px rgb(0 0 0 / 24%) !important;
      }
    }
    .next-button:disabled {
      opacity: 0.4;
      span {
        box-shadow: 5px 5px 5px rgb(0 0 0 / 24%) !important;
      }
    }
  }
  .register-main.success {
    padding-top: 50px;
  }
  
  @media only screen and (max-width: 1230px) {
    .register-main .stepper-above span {
      font-size: 15px;
    }
  }
  @media only screen and (max-width: 1052px) {
    .register-main .pay-fees-main .total-data h4, .register-main .pay-fees-main .total-data h3 {
      font-size: 17px;
    }
  }
  @media only screen and (max-width: 1024px) {
    .register-main .stepper-above span {
      font-size: 13px;
    }
    .register-main .register-top h2 {
      font-size: 30px;
    }
    .register-top img {
      width: 200px;
    }
  }
  @media only screen and (max-width: 860px) {
    .register-main .mydetails-main .otp-block span {
      margin-right: 5px;
    }
    .register-main .mydetails-main input {
      padding: 5px;
    }
    .register-main .mydetails-main .mydetail-input button {
      right: 1%;
      bottom: 15%;
      font-size: 13px;
    }
    .register-main .pay-fees-main .payment-main h4 {
      font-size: 18px;
    }
    .register-main .pay-fees-main .payment-main p {
      font-size: 18px;
    }
    .register-main .pay-fees-main .payment-main label {
      font-size: 15px;
    }
  }

  @media only screen and (max-width: 1373px){
    .register-main{
      .option-part{
        width:90%;
        margin: 56px 56px;

        button{
          width:42%;
          height:48px;
          margin-top: 10px;
          font-size: 19px;
        }

        h5.already-account{
          margin-top:30px;
          font-size: 30px;;
        }

        .option-common{

          padding-top: 0px;
          height:140px;
          width:200px;
          margin-left:34px;

          svg{
            margin-top: 22px;
          }

        }

        .option-part-head{
          h3{
            font-size: 40px;
            margin-top: -211px;
          }

          p{
            font-size: 28px;
          }
        }
      }
      
    }
  }


  @media only screen and (max-width: 769px) {

    .register-main{

      .phone-input-custom input{
        font-size: 18px !important;
      }

      .register-top .logo {
        height:54px;
        width:200px;
      }
      .container{
        width:100vw;
      }

      .option-part{
        width:100%;

        .option-part-head h3{
          font-size: 35px;
        }

        .option-part-head p{
          margin-top:50px;
        }



        .option-common{
          width:150px;
          padding-top:0px;
          margin-left:0px;
        }
      }

      .option-part h5.already-account{
        margin-top:10px;
      }

      


    }

   
    .register-top {


     
      text-align: center;
      
      h2{
        font-size:20px;
        margin-top:440px;
      }

    }
    .register-main .next-button {
      width: 250px;
      height: 50px;
      font-size: 16px;
    }
    .register-main .pay-fees-main .total-data {
      width: 100%;
      padding: 0;
    }
    .register-main .next-button span {
      margin-top: 0;
    }
    .register-main .coursedetails-main .course-detail-select button, .register-main .coursedetails-main .course-detail-select div.select, .register-main .coursedetails-main .course-detail-select .dropdown.true div, .register-main .mydetails-main input, .register-main .create-student-main input {
      height: 50px;
    }
    .register-main .coursedetails-main .subject-list-main .subject-list {
      padding: 10px;
    }
    .register-main .success-part h1 {
      font-size: 35px;
    }
    .register-main .success-part p {
      font-size: 20px;
    }
  }

  @media only screen and (max-width: 575px) {
    .register-main .step-body {
      padding: 20px;
      max-width: 95%;
    }
    .register-main h3.text-center {
      font-size: 17px !important;
      margin-bottom: 5px !important;
    }
    .register-main .coursedetails-main .course-detail-select label, .register-main .mydetails-main label, .register-main .pay-fees-main .payment-main p, .register-main .pay-fees-main .payment-main h4,.register-main .pay-fees-main .total-data h4, .register-main .pay-fees-main .total-data h3, .register-main .create-student-main label {
      font-size: 15px;
    }
    .register-main .create-student-main h4 {
      font-size: 18px;
    }
    .register-main .create-student-main .addparent-bottom, .register-main .create-student-main .addparent-above, .register-main .create-student-main .addparent-above-below {
      left: -21px;
      width: calc(100% + 41px);
    }
    .register-main .create-student-main .addparent-top {
      left: -21px;
      width: calc(100% + 48px);
    }
    .register-main .register-top h2 {
      line-height: 30px;
      margin-top: 25px;
      font-size: 25px;
    }
    .register-main .pay-fees-main .total-data {
      text-align: center;
    }
    .register-main {
      .register-top, .option-part {
        padding: 15px;
      }
    }
    .register-main {
      .option-part {
        .option-part-head {
          h3 {
            font-size: 26px;
          }
          p {
            font-size: 18px;
          }
        }
        .option-common {
          margin: auto;
          margin-bottom: 30px;
          display: block;
        }
        h5.already-account {
          font-size: 16px;
        }
        button {
          height: 40px;
          font-size: 16px;
        }
      }
    }
  }