.sub-title{
    width: 50%;
    display: flex;
    margin-top: 22px;
    margin-bottom: 35px;
    h6{
        color: #1B1B1B;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 20px;
        margin-left: 50px;
    }
    span{
        color: #43AA8B;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 20px;
        margin-left: 72px;
    }
}
.nxt-video{
    height: 35px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #E3FFF6;
    color: #43AA8B;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 17px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.tree{
    margin: 0 auto;
    box-sizing: border-box;
    max-height: 314px;
    max-width: 617px;
    border: 0.5px solid #979797;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 23px 0px 0px 23px;
    overflow: scroll;
    position: relative;

    .view{
        position: sticky;
        bottom: 10px;
        left: 10px;
        color: #43AA8B;
        font-size: 16px;
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
        width: 60px;
    }
}

.tree::-webkit-scrollbar {
    width: 6px;
}

.tree::-webkit-scrollbar:horizontal {
    height: 6px;
}

.tree::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-radius: 3px;
    background-color: #CBCDCD;
}

.videos-tree{
    position: relative;

    .side-line{
        width: 1px;
        border-left: 2.5px dashed rgba(27,27,27,0.2);
        height: 94%;
        padding: 0.5px; 
        position: absolute;
        left: 0px;
        top: 10px;
    }

    .branch{
        display: flex;
        align-items: center;
        margin-bottom: 26px;
        
        .branch-line{
            height: 1px;
            margin-left: 4px;
            margin-right: 9px;
            border-bottom: 2.5px dashed rgba(27,27,27,0.2);        
        }
        .type{
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 5px 10px;
            border: 0.5px solid #43AA8B;
            border-radius: 2px;
            img{
                margin-right: 5px;
            }
            p{
                color: #43AA8B;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 12px;
                margin: 0;
                padding: 0;
            }
        }
        a{
            text-decoration: none;
            h4{
                color: #1B1B1B;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 20px;
                white-space: nowrap;
                margin: 0;
                margin-left: 20px;
                margin-right: 10px;
                padding: 0;
            }
        }
    }
}

.btn-wrap{
    margin-top: 20px;
    text-align: center;
}

.btn-normal{
height: 50px;
  width: 305px;
  border-radius: 33.75px;
  background-color: #43AA8B;
  color: #FFFFFF;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}

.topic-wrap{
    padding: 50px;
    .single-topic{
        h4{
            color: #43AA8B;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 22px;
        }
        p{
            color: #20282A;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 23px;
            margin-bottom: 15px 0px;
        }

        .markdown{
            strong{
                color: #20282A;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 17px;
            }

            h6{
                color: #43AA8B;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 17px;
            }

            p{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                img{
                    margin: 10px 7.5px;
                    // width: 155px;
                    // height: 100%;
                    // object-fit: contain;
                }
            }
        }
    }
   
}